Repository roitium/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}'
      run: pnpm eslint "{staged_files}" && pnpm prettier --write "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,,json,jsonc}'
      run: pnpm prettier --write "{staged_files}"
      stage_fixed: true

chore: new
  eslint.config.js
Due: lint-and-format-codes

fix: Menu can only be opened once
  patches/react-native-paper.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: format-plain-text

fix: 1
  app/layout.tsx
  app/tabs/settings/index.tsx
  lib/services/lyricService.ts
  package.json
  utils/log.ts
Due: lint-and-format-codes, format-plain-text

fix: eslint
  eslint.config.js
Due: lint-and-format-codes

fix: many
  app/tabs/settings/index.tsx
  app/test/test.tsx
  components/modals/edit-metadata/editPlaylistMetadataModal.tsx
  components/modals/edit-metadata/editTrackMetadataModal.tsx
  components/modals/playlist/CreatePlaylistModal.tsx
  hooks/queries/bilibili/video.ts
  lib/config/queryClient.ts
  lib/services/lyricService.ts
Due: lint-and-format-codes

feat: support expo filesystem next api
  app/layout.tsx
  pnpm-lock.yaml
  utils/log.ts
Due: lint-and-format-codes

fix: patch react native paper
  patches/react-native-paper.patch
  pnpm-lock.yaml
Due: none

fix: 1
  eslint.config.js
  package.json
  pnpm-lock.yaml
  utils/log.ts
Due: lint-and-format-codes, format-plain-text

fix: close modal
  app.config.ts
  components/ModalHost.tsx
  components/modals/playlist/CreatePlaylistModal.tsx
  components/modals/playlist/DuplicateLocalPlaylistModal.tsx
  expo-plugins/withAbiFilters.js
  expo-plugins/withAndroidGradleProperties.js
  expo-plugins/withAndroidPlugin.js
  hooks/stores/useModalStore.ts
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore: add eslint plugin
  components/modals/PlayerQueueModal.tsx
  eslint-plugin-modal/index.js
  eslint-plugin-modal/package.json
  eslint-plugin-modal/rules/no-navigate-after-modal-close.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix: 1
  components/ModalHost.tsx
  components/modals/PlayerQueueModal.tsx
  eslint-plugin-modal/rules/no-navigate-after-modal-close.js
  eslint.config.mjs
  expo-plugins/withAndroidGradleProperties.js
Due: lint-and-format-codes

chore: bump version
  package.json
Due: format-plain-text

fix: many
  app.config.ts
  app/layout.tsx
  app/player/hooks/useLyricSync.ts
  components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  components/modals/edit-metadata/editTrackMetadataModal.tsx
  components/modals/login/CookieLoginModal.tsx
  eslint.config.mjs
  hooks/utils/useDebouncedValue.ts
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore: update update.json
  package.json
  pnpm-lock.yaml
  update.json
Due: format-plain-text

fix: remove UpdateGate and add useCheckUpdate hook
  app/layout.tsx
  app/providers.tsx
  components/UpdateGate.tsx
  hooks/useCheckUpdate.tsx
Due: lint-and-format-codes

chore: update update.json
  update.json
Due: format-plain-text

fix: WelcomeModal not show on app launching
  app/layout.tsx
Due: lint-and-format-codes

fix: bug: modal 在键盘打开时关闭无法恢复原位置 Fixes #32
  components/ModalHost.tsx
  components/commonUIs/AnimatedModalOverlay.tsx
  components/modals/playlist/CreatePlaylistModal.tsx
  components/modals/playlist/DuplicateLocalPlaylistModal.tsx
  eslint-plugin-modal/rules/no-navigate-after-modal-close.js
  hooks/stores/useModalStore.ts
Due: lint-and-format-codes

bug: AddToLocalPlaylistModal 中非本地歌单无法滑动 Fixes #33
  components/modals/playlist/BatchAddTracksToLocalPlaylist.tsx
  components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
Due: lint-and-format-codes

fix: 1
  components/ModalHost.tsx
  hooks/stores/useModalStore.ts
Due: lint-and-format-codes

fix: 1
  components/ModalHost.tsx
Due: lint-and-format-codes

fix: 在播放列中的选择模式下，当前播放的歌曲无法被选中 Fixes #35
  app/playlist/local/components/LocalPlaylistItem.tsx
  app/playlist/remote/shared/components/PlaylistItem.tsx
  hooks/stores/usePlayerStore.ts
Due: lint-and-format-codes

fix: runOn* is deprecated
  app/tabs/home/components/SearchSuggestions.tsx
  components/NowPlayingBar.tsx
Due: lint-and-format-codes

fix: use reanimated in NowPlayingBar
  components/NowPlayingBar.tsx
Due: lint-and-format-codes

fix: slider
  app/player/components/PlayerSlider.tsx
  app/player/hooks/usePlayerSlider.ts
Due: lint-and-format-codes

fix: UI thread high load
  components/NowPlayingBar.tsx
Due: lint-and-format-codes

fix: UI thread high load
  app/player/hooks/usePlayerSlider.ts
  components/NowPlayingBar.tsx
  hooks/player/useAnimatedTrackProgress.ts
Due: lint-and-format-codes

fix: 1
  app/player/components/PlayerLyrics.tsx
  components/ModalHost.tsx
Due: lint-and-format-codes

fix: try to decrease Lyric component rerender
  app/player/components/PlayerLyrics.tsx
  app/player/hooks/useLyricSync.ts
  app/player/player.tsx
Due: lint-and-format-codes

feat: implement
  app/download/components/DownloadTaskItem.tsx
  app/download/index.tsx
  app/layout.tsx
  app/leaderboard/index.tsx
  app/navigation.tsx
  app/test/test.tsx
  drizzle/0011_grey_echo.sql
  drizzle/meta/0011_snapshot.json
  drizzle/meta/_journal.json
  drizzle/migrations.js
  hooks/stores/appStore.ts
  hooks/stores/useDownloadManagerStore.ts
  lib/api/bilibili/api.ts
  lib/config/sentry.ts
  lib/db/schema.ts
  lib/errors/service.ts
  lib/services/artistService.ts
  lib/services/downloadService.ts
  lib/services/genKey.ts
  lib/services/playlistService.ts
  lib/services/trackService.ts
  types/core/downloadManagerStore.ts
  types/navigation.ts
  types/services/track.ts
  utils/log.ts
  utils/player.ts
Due: lint-and-format-codes, format-plain-text

fix: openBrowserAsync may throw error when no browser exists. Fix: BBPLAYER-31
  app/player/components/PlayerFunctionalMenu.tsx
  app/tabs/settings/index.tsx
  components/modals/app/UpdateAppModal.tsx
  components/modals/login/QRCodeLoginModal.tsx
Due: lint-and-format-codes

feat: in progress...
  app/download/components/DownloadTaskItem.tsx
  app/download/index.tsx
  app/playlist/local/[id].tsx
  app/playlist/local/components/LocalPlaylistHeader.tsx
  app/test/test.tsx
  hooks/stores/useDownloadManagerStore.ts
  lib/services/downloadService.ts
  types/core/downloadManagerStore.ts
  utils/stickyMitt.ts
Due: lint-and-format-codes

feat: progress...
  app/download/components/DownloadTaskItem.tsx
  app/player/components/PlayerLyrics.tsx
  app/playlist/local/components/LocalPlaylistHeader.tsx
  app/playlist/local/components/LocalPlaylistItem.tsx
  app/playlist/local/hooks/useLocalPlaylistMenu.ts
  lib/db/schema.ts
  lib/player/playerLogic.ts
  lib/services/artistService.ts
  lib/services/playlistService.ts
  lib/services/trackService.ts
  types/core/media.ts
  utils/player.ts
Due: lint-and-format-codes

feat: progress...
  lib/services/downloadService.ts
Due: lint-and-format-codes

feat: progress...
  app/download/components/DownloadHeader.tsx
  app/download/components/DownloadTaskItem.tsx
  app/download/index.tsx
  app/player/components/PlayerTrackInfo.tsx
  app/playlist/remote/collection/[id].tsx
  app/playlist/remote/favorite/[id].tsx
  app/playlist/remote/multipage/[bvid].tsx
  app/playlist/remote/search-result/fav/[query].tsx
  app/playlist/remote/search-result/global/[query].tsx
  app/tabs/library/[tab].tsx
  components/NowPlayingBar.tsx
  hooks/mutations/bilibili/favorite.ts
  hooks/mutations/bilibili/video.ts
  hooks/queries/bilibili/favorite.ts
  hooks/queries/bilibili/search.ts
  hooks/queries/bilibili/user.ts
  hooks/queries/bilibili/video.ts
  hooks/queries/db/playlist.ts
  hooks/stores/useDownloadManagerStore.ts
  lib/services/downloadService.ts
  utils/neverthrow-utils.ts
  utils/sticky-mitt.ts
Due: lint-and-format-codes

feat: progress...
  app/playlist/local/hooks/useLocalPlaylistMenu.ts
  hooks/stores/useDownloadManagerStore.ts
  lib/player/playerLogic.ts
  lib/services/downloadService.ts
  lib/services/trackService.ts
  utils/player.ts
Due: lint-and-format-codes

feat: progress...
  app/tabs/settings/index.tsx
  app/test/test.tsx
  lib/errors/service.ts
  lib/services/downloadService.ts
  lib/services/trackService.ts
  types/core/downloadManagerStore.ts
  types/navigation.ts
Due: lint-and-format-codes

feat: progress...
  app.config.ts
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat: progress...
  app/download/components/DownloadTaskItem.tsx
  app/download/index.tsx
  app/playlist/local/components/LocalPlaylistItem.tsx
  lib/services/downloadService.ts
  lib/services/trackService.ts
  types/services/track.ts
  utils/sticky-mitt.ts
Due: lint-and-format-codes
