Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

feat(mobile): render bilibili comment emotes
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/comments/components/CommentItem.tsx
  apps/mobile/src/types/apis/bilibili.ts
Due: lint-and-format-codes, format-plain-text

refactor(mobile): improve settings and bilibili login flows
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/settings/bilibili-account/index.tsx
  apps/mobile/src/app/settings/bilibili-account/phone-login.tsx
  apps/mobile/src/app/settings/bilibili-account/qrcode-login.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/components/modals/login/PhoneLoginModal.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/features/library/shared/TabDisabled.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/hooks/auth/usePhoneLogin.ts
  apps/mobile/src/lib/config/queryClient.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes, format-plain-text

chore(mobile): update dependency
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): optimize login page ui
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/settings/about.tsx
  apps/mobile/src/app/settings/about/licenses.tsx
  apps/mobile/src/app/settings/bilibili-account/_components/GeetestVerifyStep.tsx
  apps/mobile/src/app/settings/bilibili-account/_components/InputCodeStep.tsx
  apps/mobile/src/app/settings/bilibili-account/_components/InputPhoneStep.tsx
  apps/mobile/src/app/settings/bilibili-account/_components/SuccessStep.tsx
  apps/mobile/src/app/settings/bilibili-account/phone-login.tsx
  apps/mobile/src/app/settings/bilibili-account/qrcode-login.tsx
  apps/mobile/src/components/modals/login/steps/InputCodeStep.tsx
  apps/mobile/src/components/modals/login/steps/InputPhoneStep.tsx
  apps/mobile/src/components/modals/login/steps/SuccessStep.tsx
Due: lint-and-format-codes, format-plain-text

chore(mobile): refactor bilibili api to object-style param
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/settings/bilibili-account/qrcode-login.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/hooks/auth/useGeetest.ts
  apps/mobile/src/hooks/auth/usePhoneLogin.ts
  apps/mobile/src/hooks/mutations/bilibili/comments.ts
  apps/mobile/src/hooks/mutations/bilibili/favorite.ts
  apps/mobile/src/hooks/mutations/bilibili/video.ts
  apps/mobile/src/hooks/queries/bilibili/comments.ts
  apps/mobile/src/hooks/queries/bilibili/danmaku.ts
  apps/mobile/src/hooks/queries/bilibili/favorite.ts
  apps/mobile/src/hooks/queries/bilibili/search.ts
  apps/mobile/src/hooks/queries/bilibili/user.ts
  apps/mobile/src/hooks/queries/bilibili/video.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/bilibili/wbi.ts
  apps/mobile/src/lib/facades/bilibili.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/syncLocalToBilibiliService.ts
  apps/mobile/src/utils/player.ts
  apps/mobile/src/utils/search.ts
Due: lint-and-format-codes, format-plain-text

chore(mobile): remove tests
  apps/mobile/src/utils/__mocks__/log.ts
  apps/mobile/src/utils/__tests__/set.test.ts
  apps/mobile/src/utils/__tests__/sticky-mitt.test.ts
  apps/mobile/src/utils/__tests__/time.test.ts
Due: lint-and-format-codes

fix(mobile): some type issue
  .zed/settings.json
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/settings/bilibili-account/_components/InputCodeStep.tsx
  apps/mobile/src/app/settings/bilibili-account/_components/InputPhoneStep.tsx
  apps/mobile/src/app/settings/bilibili-account/_components/SuccessStep.tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/features/player/components/sharing/LyricsShareCard.tsx
  apps/mobile/src/features/player/components/sharing/SongShareCard.tsx
  apps/mobile/src/lib/services/lyricService.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): playlist dynamic color
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/recently/index.tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): minimalist mode on home page
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): rollback some TextField
  apps/mobile/CHANGELOG.md
  apps/mobile/src/components/modals/edit-metadata/editPlaylistMetadataModal.tsx
  apps/mobile/src/components/modals/login/CookieLoginModal.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
Due: lint-and-format-codes, format-plain-text

test(mobile): MyGo!!!!! bottom tabs icon.
  .gitignore
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
  patches/react-native-bottom-tabs.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

chore: bump version
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
Due: lint-and-format-codes, format-plain-text

chore: remove mmkv patch
  patches/react-native-mmkv.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

fix(mobile): inline bottom tabs patches
  packages/bottom-tabs-react-navigation/src/navigators/createNativeBottomTabNavigator.tsx
  packages/bottom-tabs-react-navigation/src/types.ts
  packages/bottom-tabs-react-navigation/src/views/NativeBottomTabView.tsx
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabView.kt
  patches/@bottom-tabs__react-navigation@1.2.0.patch
  patches/react-native-bottom-tabs.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

feat(mobile): configure bottom tab icon tint and size
  apps/mobile/src/app/(tabs)/_layout.tsx
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabView.kt
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabViewManager.kt
  packages/react-native-bottom-tabs/src/TabView.tsx
  packages/react-native-bottom-tabs/src/TabViewNativeComponent.ts
Due: lint-and-format-codes

fix(mobile): load vendored bottom tabs config plugin
  packages/react-native-bottom-tabs/app.plugin.js
Due: lint-and-format-codes

feat(mobile): MyGo!!!!!
  apps/mobile/app.config.ts
  apps/mobile/src/app/(tabs)/_layout.tsx
  packages/react-native-bottom-tabs/.gitignore
Due: lint-and-format-codes

feat(mobile): add dynamic skin asset manifest
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/hooks/theme/useActiveSkin.ts
  apps/mobile/src/lib/theme/skins.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes

feat(mobile): animate themed thumb up action
  apps/mobile/scripts/extract-svga-frames.mjs
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/player/components/SkinThumbUpBurst.tsx
  apps/mobile/src/lib/theme/skins.ts
Due: lint-and-format-codes

feat(mobile): support themed slider thumbs
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderModule.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderView.kt
  packages/expo-wavy-slider/src/ExpoWavySlider.types.ts
  packages/expo-wavy-slider/src/WavySlider.ts
Due: lint-and-format-codes

feat(mobile): add themed js bottom tabs
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/components/navigation/SkinBottomTabBar.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/theme/skins.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes

feat(native): convert svga skin animations to gif
  apps/mobile/src/features/player/components/SkinThumbUpBurst.tsx
  apps/mobile/src/lib/theme/skins.ts
  packages/native/android/build.gradle
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/native/src/BBPlayerNative.types.ts
  packages/native/src/BBPlayerNativeModule.ts
Due: lint-and-format-codes

feat(mobile): add themed bootsplash animation
  apps/mobile/app.config.ts
  apps/mobile/assets/bootsplash/logo.png
  apps/mobile/assets/bootsplash/logo@1,5x.png
  apps/mobile/assets/bootsplash/logo@2x.png
  apps/mobile/assets/bootsplash/logo@3x.png
  apps/mobile/assets/bootsplash/logo@4x.png
  apps/mobile/assets/bootsplash/manifest.json
  apps/mobile/expo-plugins/withAndroidSplashScreenCompat.js
  apps/mobile/expo-plugins/withRemoveExpoSplashScreen.js
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/components/AnimatedBootSplash.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/theme/skins.ts
  apps/mobile/src/types/core/appStore.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): theme tab app bars
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/components/navigation/SkinAppbarBackground.tsx
Due: lint-and-format-codes

feat(mobile): add router skin tabs
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/components/navigation/SkinBottomTabBar.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/hooks/router/useBottomTabBarHeight.ts
Due: lint-and-format-codes

fix(mobile): generate valid skin thumb gif
  apps/mobile/scripts/encode-gif-from-frames.mjs
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile): center skin slider thumb
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderView.kt
Due: none

feat(mobile): select skin bootsplash media
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/components/AnimatedBootSplash.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/theme/skins.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes

fix(mobile): start themed bootsplash immediately
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/AnimatedBootSplash.tsx
Due: lint-and-format-codes

feat(mobile): show skin pull refresh animation
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/common/SkinRefreshControl.tsx
  apps/mobile/src/components/common/SkinRefreshOverlay.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
  apps/mobile/src/hooks/stores/useSkinRefreshStore.ts
  apps/mobile/src/lib/theme/skins.ts
Due: lint-and-format-codes

fix(mobile): use official bootsplash plugin
  apps/mobile/app.config.ts
  apps/mobile/expo-plugins/withAndroidSplashScreenCompat.js
  apps/mobile/expo-plugins/withRemoveExpoSplashScreen.js
Due: lint-and-format-codes

Revert "feat(mobile): show skin pull refresh animation"
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/common/SkinRefreshControl.tsx
  apps/mobile/src/components/common/SkinRefreshOverlay.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
  apps/mobile/src/hooks/stores/useSkinRefreshStore.ts
  apps/mobile/src/lib/theme/skins.ts
Due: lint-and-format-codes

fix(mobile): show js skin tab bar
  apps/mobile/src/app/(tabs)/_layout.tsx
Due: lint-and-format-codes

fix(mobile): wait for themed bootsplash intro
  apps/mobile/src/components/AnimatedBootSplash.tsx
Due: lint-and-format-codes

fix(mobile): expose slider thumb image offset
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/lib/theme/skins.ts
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderModule.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderView.kt
  packages/expo-wavy-slider/src/ExpoWavySlider.types.ts
  packages/expo-wavy-slider/src/WavySlider.ts
Due: lint-and-format-codes

fix(mobile): play skin thumb up once
  apps/mobile/scripts/encode-gif-from-frames.mjs
  apps/mobile/src/features/player/components/SkinThumbUpBurst.tsx
Due: lint-and-format-codes

fix(mobile): avoid react native codegen deep import
  packages/react-native-bottom-tabs/src/TabViewNativeComponent.ts
Due: lint-and-format-codes

feat(mobile): move skin theme settings
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes

fix(mobile): register theme settings route
  apps/mobile/src/app/_layout.tsx
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
