Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: |
        if command -v gitleaks > /dev/null 2>&1; then
          gitleaks protect --staged --verbose $([ -f .gitleaks-baseline.json ] && echo "--baseline-path .gitleaks-baseline.json")
        else
          echo "⚠️ gitleaks is not installed, skipping secret scan. Install with: brew install gitleaks"
        fi
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: |
        if [ -z "{staged_files}" ]; then
          echo "No staged files to lint or format."
          exit 0
        fi

        pnpm oxfmt --write "{staged_files}" && pnpm oxlint --type-aware "{staged_files}" && pnpm eslint "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

feat(orpheus): move asyncfunction out of main thread
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: lint-and-format-codes, format-plain-text

feat(orpheus): use coroutine in expo DSL
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: none

feat(orpheus, mobile): car lyrics
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/lib/services/lyricService.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

feat(orpheus): first implement unified lyric manager
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/UnifiedLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

chore(root): update build.yaml to support upload r8 mapping file
  .github/workflows/build.yml
Due: lint-and-format-codes

feat(orpheus, mobile): unified lyrics system
  .vscode/settings.json
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/utils/player.ts
  package.json
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SuperLyricBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/UnifiedLyricsManager.kt
  packages/orpheus/example/index.ts
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(mobile): update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

fix(root): address car lyrics review feedback
  .vscode/settings.json
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SuperLyricBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/UnifiedLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

feat: car lyrics (#270)
  .vscode/settings.json
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/utils/player.ts
  package.json
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SuperLyricBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/UnifiedLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/example/index.ts
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): add LLM smart shuffle
  apps/mobile/drizzle/0019_smart_shuffle_tags.sql
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/settings/playback.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/SmartShuffleModal.tsx
  apps/mobile/src/components/modals/settings/LlmSmartShuffleSettingsModal.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/llmSmartShuffleService.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/types/services/llmSmartShuffle.ts
Due: lint-and-format-codes

fix(mobile): generate valid Android Gradle config
  apps/mobile/expo-plugins/withAbiFilters.js
  lefthook.yml
  scripts/lefthook-gitleaks.cjs
Due: lint-and-format-codes

fix(mobile): stabilize smart shuffle dev setup
  apps/mobile/package.json
  apps/mobile/src/lib/services/llmSmartShuffleService.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile): store LLM API key securely
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/components/modals/settings/LlmSmartShuffleSettingsModal.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/services/llmCredentialService.ts
  apps/mobile/src/lib/services/llmSmartShuffleService.ts
  apps/mobile/src/types/core/appStore.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): add chunked LLM playlist sorting
  apps/backend/src/env.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/components/modals/playlist/SmartShuffleModal.tsx
  apps/mobile/src/components/modals/settings/LlmSmartShuffleSettingsModal.tsx
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/llmSmartShuffleDatasetService.ts
  apps/mobile/src/lib/services/llmSmartShufflePrompts.ts
  apps/mobile/src/lib/services/llmSmartShuffleService.ts
Due: lint-and-format-codes

fix(mobile): harden LLM smart shuffle handling
  apps/mobile/expo-plugins/withAbiFilters.js
  apps/mobile/src/components/modals/playlist/SmartShuffleModal.tsx
  apps/mobile/src/components/modals/settings/LlmSmartShuffleSettingsModal.tsx
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/llmSmartShuffleService.ts
Due: lint-and-format-codes

fix(mobile): support x86_64 dev builds
  apps/mobile/app.config.ts
  apps/mobile/eas.json
Due: lint-and-format-codes

fix(mobile): refine LLM shuffle fallback tags
  .gitignore
  apps/mobile/src/lib/services/llmSmartShuffleService.ts
  packages/image-theme-colors/android/build.gradle
  packages/image-theme-colors/android/src/main/java/expo/modules/imagethemecolors/ExpoImageThemeColorsModule.kt
  packages/orpheus/android/build.gradle
  patches/expo-modules-core@55.0.13.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

feat(mobile): dynamic playlist
  apps/docs/docs/guides/playlist.md
  apps/mobile/drizzle/0019_icy_mandarin.sql
  apps/mobile/drizzle/meta/0019_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/components/modals/edit-metadata/editPlaylistMetadataModal.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/types/core/media.ts
  apps/mobile/src/types/services/playlist.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): optimize sql
  apps/mobile/drizzle/0020_ambitious_sheva_callister.sql
  apps/mobile/drizzle/meta/0020_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes

chore(orpheus): sync lyricon codes
  packages/orpheus/.lyricon_version
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/lyric/model/extensions/LyricWord.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/CachedRemotePlayer.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ConnectionStatus.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/Extensions.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/LocalProviderService.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/LyriconFactory.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/LyriconProvider.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ProviderBinder.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ProviderConstants.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ProviderInfo.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ProviderLogo.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ProviderMetadata.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/ProviderService.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/RemotePlayer.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/EmptyProvider.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/LyriconProviderImpl.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/ProviderRemoteEndpoint.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/ProviderV27Impl.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/RemotePlayerProxy.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/RemoteServiceProxy.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/service/RemoteService.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/service/RemoteServiceBinder.kt
Due: none

feat(mobile, orpheus): download
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/settings/download.tsx
  apps/mobile/src/features/downloads/DownloadHeader.tsx
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusDownloadManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

feat(mobile, orpheus): download (#275)
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/settings/download.tsx
  apps/mobile/src/features/downloads/DownloadHeader.tsx
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusDownloadManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

feat(native): 1
  apps/mobile/docs/RELEASE.md
  apps/mobile/package.json
  apps/mobile/src/components/modals/app/UpdateAppModal.tsx
  apps/mobile/src/lib/services/updateService.ts
  apps/update-publisher/package.json
  apps/update-publisher/src/index.ts
  apps/update-publisher/tsconfig.json
  commitlint.config.js
  package.json
  packages/native/.gitignore
  packages/native/android/build.gradle
  packages/native/android/src/main/AndroidManifest.xml
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/native/expo-module.config.json
  packages/native/package.json
  packages/native/src/BBPlayerNative.types.ts
  packages/native/src/BBPlayerNativeModule.ts
  packages/native/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat: auto download apk (#277)
  apps/mobile/docs/RELEASE.md
  apps/mobile/package.json
  apps/mobile/src/components/modals/app/UpdateAppModal.tsx
  apps/mobile/src/lib/services/updateService.ts
  apps/update-publisher/package.json
  apps/update-publisher/src/index.ts
  apps/update-publisher/tsconfig.json
  commitlint.config.js
  package.json
  packages/native/.gitignore
  packages/native/android/build.gradle
  packages/native/android/src/main/AndroidManifest.xml
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/native/expo-module.config.json
  packages/native/package.json
  packages/native/src/BBPlayerNative.types.ts
  packages/native/src/BBPlayerNativeModule.ts
  packages/native/src/index.ts
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

chore(mobile): bump version
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: lint-and-format-codes, format-plain-text

fix(root): build action
  .github/workflows/build.yml
Due: lint-and-format-codes

fix(orpheus): status bar lyrics
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/UnifiedLyricsManager.kt
Due: none

chore(mobile): bump version
  apps/mobile/package.json
Due: lint-and-format-codes

fix(orpheus): lyric manager
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyricsRuntimeConsumer.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyricsTimeline.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/UnifiedLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
Due: none

feat(mobile): change track cover
  apps/mobile/src/components/modals/edit-metadata/editTrackMetadataModal.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/hooks/mutations/db/track.ts
Due: lint-and-format-codes

feat(mobile): improve background color
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
  apps/mobile/src/utils/color.ts
Due: lint-and-format-codes

fix(mobile): improve external playlist import.
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
Due: lint-and-format-codes

feat(mobile, orpheus): meizu status bar lyrics
  apps/mobile/src/app/settings/lyrics.tsx
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/MeizuStatusBarLyricsBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

fix(orpheus): settings page switch button flicker
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: none

chore(mobile): react compiler
  apps/mobile/package.json
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/app/UpdateAppModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/player/hooks/useLyricSync.ts
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/hooks/auth/useGeetest.ts
  apps/mobile/src/hooks/auth/usePhoneLogin.ts
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
Due: lint-and-format-codes

fix(mobile): shared playlist 401
  apps/backend/src/routes/auth.ts
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
Due: lint-and-format-codes

perf(mobile): use react-native-boost improve View&Text perf
  apps/mobile/CHANGELOG.md
  apps/mobile/babel.config.js
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore(mobile): replace flashlist with legendlist
  AGENTS.md
  apps/mobile/AGENTS.md
  apps/mobile/docs/BEST_PRACTICES.md
  apps/mobile/docs/CONTRIBUTING.md
  apps/mobile/docs/Home.md
  apps/mobile/package.json
  apps/mobile/src/app/comments/[bvid].tsx
  apps/mobile/src/app/comments/reply.tsx
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/history/overall.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/lyrics/ManualSearchLyrics.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/playlist/BatchAddTracksToLocalPlaylist.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/features/playlist/remote/components/RemoteTrackList.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  apps/mobile/src/hooks/ui/useDoubleTapScrollToTop.ts
  apps/mobile/src/types/list.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text
