Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

feat(player): add persistent AB loops and preview editor
  apps/mobile/drizzle/0023_ab_loop.sql
  apps/mobile/drizzle/meta/0023_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/app/modal.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/player/AbLoopModal.tsx
  apps/mobile/src/components/modals/player/AbLoopTimeline.tsx
  apps/mobile/src/features/player/components/controls/RangeLoopIcon.tsx
  apps/mobile/src/features/player/components/main/PlayerSlider.tsx
  apps/mobile/src/features/player/components/menu/MusicFunctionalMenu.tsx
  apps/mobile/src/features/player/components/menu/PlayerMenuContent.tsx
  apps/mobile/src/hooks/queries/orpheus/index.ts
  apps/mobile/src/hooks/stores/useAbLoopDraftStore.ts
  apps/mobile/src/hooks/stores/usePlayerStore.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/lib/player/abLoop.ts
  apps/mobile/src/lib/player/abLoopDraft.ts
  apps/mobile/src/lib/player/seek.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/utils/player.ts
  apps/mobile/tests/ab-loop.test.mjs
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/AbLoopRange.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/AbLoopController.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/PlaybackHistoryTracker.kt
  packages/orpheus/ios/AbLoopRange.swift
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/GeneralStorage.swift
  packages/orpheus/ios/OrpheusPlayerManager.swift
  packages/orpheus/ios/PlaybackHistoryTracker.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/headless.ts
  packages/orpheus/tests/PlaybackHistoryTrackerTest.kt
Due: lint-and-format-codes

fix(android): preserve reproducible Windows release builds
  apps/mobile/app.config.ts
  apps/mobile/expo-plugins/normalizeWindowsAutolinking.js
  apps/mobile/expo-plugins/withAbiFilters.js
  apps/mobile/expo-plugins/withAndroidBuildCompatibility.js
  packages/orpheus/android/build.gradle
  patches/@sentry__react-native@8.27.0.patch
  patches/react-native-boost@2.0.2.patch
  patches/react-native-worklets@0.11.4.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

chore: organize local validation artifacts and ignore build caches
  .dockerignore
  .easignore
  .gitignore
  packages/orpheus/tests/README.md
Due: format-plain-text

mobile: use navigate instead of push
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/comments/[bvid].tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/settings/bilibili-account/index.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/app/settings/storage.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/DuplicateLocalPlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/components/modals/playlist/PlaylistSyncProgressModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/features/comments/components/CommentItem.tsx
  apps/mobile/src/features/library/collection/CollectionListItem.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/mobile/src/features/library/shared/TabDisabled.tsx
  apps/mobile/src/features/player/components/controls/MusicControls.tsx
  apps/mobile/src/features/player/components/main/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/menu/PlayerMenuContent.tsx
  apps/mobile/src/features/player/components/menu/PodcastFunctionalMenu.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/hooks/usePlaylistMenu.ts
  apps/mobile/src/features/playlist/remote/search-result/components/SearchUserHeader.tsx
  apps/mobile/src/features/playlist/remote/search-result/hooks/useSearchInteractions.ts
  apps/mobile/src/features/theme/ThemeSection.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/utils/search.ts
Due: lint-and-format-codes

mobile: add UP following, global search and group browsing
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/following.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/settings/bilibili-account/index.tsx
  apps/mobile/src/features/following/components/FollowingListItem.tsx
  apps/mobile/src/features/following/components/FollowingListSkeleton.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/hooks/mutations/bilibili/relations.ts
  apps/mobile/src/hooks/queries/bilibili/relations.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/types/apis/bilibili.ts
Due: lint-and-format-codes

mobile: improve history loading and animate playback duration
  apps/mobile/package.json
  apps/mobile/src/app/history/overall.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(player): preserve AB loop state across interrupted commits
  apps/mobile/src/components/modals/player/AbLoopModal.tsx
  apps/mobile/src/lib/player/abLoop.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/tests/ab-loop.test.mjs
Due: lint-and-format-codes

fix(android): retain Worklets lint report and aggregation tasks
  patches/react-native-worklets@0.11.4.patch
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile): isolate AB loop native APIs with runtime 2.7.1
  apps/mobile/package.json
Due: lint-and-format-codes

docs(mobile): explain AB loop recovery and validation boundaries
  apps/mobile/README.md
Due: format-plain-text

mobile: improve heatmap
  .easignore
  .gitignore
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/bilibili-account/index.tsx
  apps/mobile/src/features/following/FollowingList.tsx
  apps/mobile/src/features/following/components/FollowingListSkeleton.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  packages/heatmap/README.md
  packages/heatmap/package.json
  packages/heatmap/src/components/WeeklyHeatMap.tsx
  packages/heatmap/src/components/WeeklyHeatMapGrid.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile/following: remove following page from library page and improve ui
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/following.tsx
  apps/mobile/src/features/following/components/FollowingGroupsSkeleton.tsx
Due: lint-and-format-codes

root: update expo deps and drop upstream-fixed patches
  apps/mobile/package.json
  packages/expo-wavy-slider/package.json
  packages/orpheus/package.json
  patches/@expo__ui.patch
  patches/expo-modules-core.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile: add Bilibili playlist JSON export, direct import, and system share/open intent support
  apps/mobile/app.config.ts
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/+native-intent.ts
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/lib/facades/syncExternalPlaylist.ts
  apps/mobile/src/lib/services/playlistOutService.ts
  apps/mobile/src/types/external_playlist.ts
Due: lint-and-format-codes

docs: add specification and screenshots for external playlist import feature
  docs/features/external-playlist-import/README.md
  docs/features/external-playlist-import/images/01_bug_nowplayingbar_overlap.jpg
  docs/features/external-playlist-import/images/02_import_modal_sources.jpg
  docs/features/external-playlist-import/images/03_kugou_settings_modal.jpg
  docs/features/external-playlist-import/images/04_library_draft_jobs.jpg
  docs/features/external-playlist-import/images/05_android_progress_notification.jpg
  docs/features/external-playlist-import/images/06_matching_page_live_progress.jpg
  docs/features/external-playlist-import/images/07_circuit_breaker_rate_limit.jpg
  docs/features/external-playlist-import/images/08_local_playlist_dual_view_and_todo.jpg
  docs/features/external-playlist-import/images/09_track_menu_manual_match_option.jpg
  docs/features/external-playlist-import/images/10_unmatched_tracks_list.jpg
  docs/features/external-playlist-import/images/11_manual_search_and_preview_modal.jpg
Due: format-plain-text

mobile: integrate PlaylistOut external playlist resolver with standardized telemetry attribution
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/hooks/queries/external-playlist/useExternalPlaylist.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/playlistOutService.ts
  apps/mobile/src/lib/storage/playlistOutStorage.ts
  apps/mobile/src/types/apis/qqmusic.ts
  apps/mobile/src/types/external_playlist.ts
  apps/mobile/src/types/storage.ts
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
