Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

chore: update changelog
  CHANGELOG.md
Due: format-plain-text

fix: remove list delete layout transition
  CHANGELOG.md
  src/app/playlist/local/[id].tsx
  src/features/playlist/local/components/LocalTrackList.tsx
Due: lint-and-format-codes, format-plain-text

chore: release v2.2.3 (#182)
  CHANGELOG.md
  src/app/playlist/local/[id].tsx
  src/features/playlist/local/components/LocalTrackList.tsx
Due: lint-and-format-codes, format-plain-text

fix: open wrong modal
  src/app/playlist/local/[id].tsx
Due: lint-and-format-codes

chore: release v.2.2.3 (#183)
  src/app/playlist/local/[id].tsx
Due: lint-and-format-codes

feat: broaden playlist search to include all playlist types by removing the 'local' filter
  CHANGELOG.md
  src/lib/services/playlistService.ts
Due: lint-and-format-codes, format-plain-text

feat: 1
  .changeset/README.md
  .changeset/config.json
  eslint.config.mjs
  package.json
  packages/expo-image-theme-colors/.github/workflows/release.yml
  packages/expo-image-theme-colors/example/tsconfig.json
  packages/expo-image-theme-colors/package-lock.json
  packages/orpheus/.commitlintrc.js
  packages/orpheus/.eslintrc.js
  packages/orpheus/.github/workflows/wiki-sync.yml
  packages/orpheus/.release-it.json
  packages/orpheus/example/tsconfig.json
  packages/orpheus/package-lock.json
  packages/orpheus/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat: 1
  eslint.config.mjs
  packages/expo-image-theme-colors/example/App.tsx
  packages/expo-image-theme-colors/src/ExpoImageThemeColors.types.ts
  packages/expo-image-theme-colors/src/ExpoImageThemeColorsModule.ts
  packages/orpheus/example/App.tsx
  packages/orpheus/example/src/components/Buttons.tsx
  packages/orpheus/example/src/components/DebugSection.tsx
  packages/orpheus/example/src/components/PlayerControls.tsx
  packages/orpheus/example/src/constants.ts
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/headless.ts
  packages/orpheus/src/hooks/useCurrentTrack.ts
  packages/orpheus/src/hooks/useIsPlaying.ts
  packages/orpheus/src/hooks/useProgress.ts
Due: lint-and-format-codes

feat: 1
  packages/orpheus/example/package-lock.json
  packages/orpheus/package.json
Due: lint-and-format-codes

feat: 1
  apps/docs/.gitignore
  apps/docs/docs/.vitepress/components/AppNotExistPage.vue
  apps/docs/docs/.vitepress/components/ShareTrackPage.vue
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/app-not-exist.md
  apps/docs/docs/guides/attachments/bilibili_share.jpg
  apps/docs/docs/guides/attachments/library_header.jpg
  apps/docs/docs/guides/attachments/synced_playlist.jpg
  apps/docs/docs/guides/download.md
  apps/docs/docs/guides/index.md
  apps/docs/docs/guides/install.md
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/guides/playlist.md
  apps/docs/docs/guides/search.md
  apps/docs/docs/index.md
  apps/docs/docs/public/.well-known/assetlinks.json
  apps/docs/docs/public/favicon.ico
  apps/docs/docs/public/icon.png
  apps/docs/docs/share/track.md
  apps/docs/env.d.ts
  apps/docs/package.json
  apps/docs/pnpm-lock.yaml
  apps/docs/pnpm-workspace.yaml
  apps/docs/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat: 1
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/update.yml
  .github/workflows/wiki.yml
  apps/bbplayer/mise.toml
Due: lint-and-format-codes

feat: 1
  apps/bbplayer/.gitignore
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat: 1
  apps/bbplayer/index.js
  apps/bbplayer/metro.config.js
  apps/bbplayer/package.json
  package.json
  packages/expo-image-theme-colors/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat: 1
  .syncpackrc
  apps/bbplayer/package.json
  package.json
  packages/expo-image-theme-colors/package.json
  packages/orpheus/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat: 1
  .changeset/config.json
  .github/workflows/pr-checks.yml
  package.json
Due: lint-and-format-codes

feat: 1
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: lint-and-format-codes

feat: 1
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/docs/release.md
Due: format-plain-text

feat: 1
  .continue/skills/react-native-best-practices
  .github/workflows/build.yml
Due: lint-and-format-codes

feat: 1
  packages/orpheus/package.json
Due: lint-and-format-codes

feat: 1
  packages/orpheus/bilibili--BV1DL4y1V7xH--584235509.json
Due: lint-and-format-codes

feat: 1
  packages/expo-image-theme-colors/android/build.gradle
  packages/orpheus/android/build.gradle
Due: none

feat: 1
  .changeset/config.json
  packages/expo-image-theme-colors/ios/ExpoImageThemeColors.podspec
  packages/expo-image-theme-colors/package.json
  packages/orpheus/ios/ExpoOrpheus.podspec
  packages/orpheus/package.json
Due: lint-and-format-codes

feat: 1
  .changeset/README.md
  .changeset/config.json
  commitlint.config.js
  package.json
  packages/expo-image-theme-colors/package.json
  packages/orpheus/package.json
Due: lint-and-format-codes, format-plain-text

feat: 1
  commitlint.config.js
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(root): edit commitlint
  commitlint.config.js
Due: lint-and-format-codes

feat(app): edit deps
  .gemini/skills/react-native-best-practices
  .gemini/skills/vercel-react-native-skills
  .gitignore
  apps/bbplayer/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(app): edit deps
  apps/bbplayer/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(root): 1
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/package.json
  apps/bbplayer/src/utils/log.ts
  commitlint.config.js
  eslint.config.mjs
  packages/react-native-logs/.gitignore
  packages/react-native-logs/.travis.yml
  packages/react-native-logs/CHANGELOG.md
  packages/react-native-logs/LICENSE
  packages/react-native-logs/README.md
  packages/react-native-logs/demo/ComponentReadLogsRN.tsx
  packages/react-native-logs/demo/demo-react-native-logs.png
  packages/react-native-logs/demo/demo.ts
  packages/react-native-logs/package.json
  packages/react-native-logs/src/index.ts
  packages/react-native-logs/src/transports/consoleTransport.ts
  packages/react-native-logs/src/transports/crashlyticsTransport.ts
  packages/react-native-logs/src/transports/fileAsyncTransport.ts
  packages/react-native-logs/src/transports/mapConsoleTransport.ts
  packages/react-native-logs/src/transports/sentryTransport.ts
  packages/react-native-logs/test/consoleTransport.test.js
  packages/react-native-logs/test/index.test.js
  packages/react-native-logs/tsconfig.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(root): 1
  .github/workflows/wiki.yml
  README.md
  apps/bbplayer/README.md
  apps/bbplayer/docs/ARCHITECTURE.md
  apps/bbplayer/docs/CONTRIBUTING.md
  apps/docs/README.md
Due: lint-and-format-codes, format-plain-text

fix(root): move screenshots folder
  README.md
  apps/bbplayer/README.md
  assets/screenshots/download.jpg
  assets/screenshots/home.jpg
  assets/screenshots/library.jpg
  assets/screenshots/player.jpg
  assets/screenshots/playlist.jpg
Due: format-plain-text

ci(root): remove specific pnpm version
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update.yml
Due: lint-and-format-codes

chore(orpheus): clean docs
  packages/orpheus/README.md
Due: format-plain-text

fix(orpheus, image-colors): match expo version
  packages/expo-image-theme-colors/package.json
  packages/orpheus/package.json
Due: lint-and-format-codes

chore(root): update pnpm lock file
  eslint.config.mjs
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(docs): add some pages
  README.md
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guides/attachments/share_lyric.jpg
  apps/docs/docs/guides/attachments/share_song.jpg
  apps/docs/docs/guides/comments.md
  apps/docs/docs/guides/leaderboard.md
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/guides/player.md
  apps/docs/docs/guides/settings.md
Due: format-plain-text
