Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/drizzle/0014_flippant_sebastian_shaw.sql
  apps/mobile/drizzle/meta/0014_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/services/playlistService.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GlideBitmapLoader.kt
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/_layout.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/app/settings/donate.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/app/settings/playback.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/src/app/(tabs)/_layout.tsx
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/app/settings/donate.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/app/settings/playback.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistPlayer.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/types/storage.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1 (#226)
  apps/mobile/CHANGELOG.md
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/types/storage.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): use netinfo instead of expo-network
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/lib/services/lyricService.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile): offline detect
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/hooks/utils/useIsActuallyOffline.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/utils/network.ts
Due: lint-and-format-codes

chore(mobile): update update.json
  update.json
Due: lint-and-format-codes

feat(mobile): 1
  .oxlintrc.json
  PLAYLIST_SHARING_PLAN.md
  apps/backend/.dev.vars.example
  apps/backend/.gitignore
  apps/backend/drizzle.config.ts
  apps/backend/mise.toml
  apps/backend/package.json
  apps/backend/src/db/index.ts
  apps/backend/src/db/schema.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/backend/src/types.ts
  apps/backend/src/validators/auth.ts
  apps/backend/src/validators/playlists.ts
  apps/backend/tsconfig.json
  apps/backend/worker-configuration.d.ts
  apps/backend/wrangler.toml
  apps/mobile/package.json
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/api/bbplayer/token.ts
  apps/mobile/src/types/storage.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/backend/src/index.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/backend/src/validators/playlists.ts
  apps/mobile/drizzle/0015_flippant_skaar.sql
  apps/mobile/drizzle/meta/0015_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/types/core/media.ts
  apps/mobile/src/types/services/playlist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/index.ts
  apps/backend/src/validators/playlists.ts
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/playlist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/wrangler.toml
  apps/mobile/drizzle/0016_cheerful_stark_industries.sql
  apps/mobile/drizzle/meta/0016_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/app/test.tsx
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/playlist/BatchAddTracksToLocalPlaylist.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/wrangler.toml
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/SyncFailuresModal.tsx
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/api/bbplayer/token.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/backend/src/types.ts
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/hooks/queries/sharedPlaylistMembers.ts
  apps/mobile/src/hooks/stores/useSharedPlaylistMembersStore.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/AlertModal.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  patches/react-native-mmkv.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

feat(mobile): 1
  lefthook.yml
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/db/schema.ts
  apps/backend/src/routes/playlists.ts
  apps/backend/src/validators/playlists.ts
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/db/schema.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/SharedPlaylistMembersSheet.tsx
  apps/mobile/src/hooks/queries/sharedPlaylistAllMembers.ts
  apps/mobile/src/hooks/queries/sharedPlaylistPreview.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/AlertModal.tsx
  commitlint.config.js
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  PLAYLIST_SHARING_PLAN.md
Due: format-plain-text

feat(mobile): 1
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/SyncFailuresModal.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/mutations/db/track.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/.dev.vars.example
  apps/backend/drizzle.config.ts
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/mobile/drizzle/0017_rare_lifeguard.sql
  apps/mobile/drizzle/meta/0017_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
  apps/mobile/src/types/services/playlist.ts
  patches/react-native-mmkv.patch
Due: lint-and-format-codes

feat(mobile): 1
  patches/react-native-mmkv.patch
Due: none

feat(mobile): 1
  patches/react-native-mmkv.patch
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guides/shared-playlist.md
Due: format-plain-text

fix(backend/mobile): address coderabbit review #3864993761
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/playlists.ts
  apps/backend/src/types.ts
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
