Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

feat(mobile): 1
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  apps/mobile/src/hooks/player/useAnimatedTrackProgress.ts
  apps/mobile/src/hooks/player/useSmoothProgress.ts
  apps/mobile/src/lib/api/netease/api.ts
  apps/mobile/src/types/apis/netease.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/lib/api/netease/api.ts
  packages/splash/src/converter/netease.test.ts
  packages/splash/src/converter/netease.ts
  packages/splash/src/parser/index.test.ts
Due: lint-and-format-codes, format-plain-text

feat(orpheus): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/react-native-logs/package.json
Due: lint-and-format-codes, format-plain-text

perf(mobile): improve perf
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
Due: lint-and-format-codes

feat(mobile, splash): improve verbatim lyrics
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/appearance.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/SpectrumVisualizer.tsx
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
  apps/mobile/src/features/player/hooks/useLyricSync.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
  packages/splash/src/__tests__/fixtures/687506.json
  packages/splash/src/__tests__/fixtures/bilibili--BV1Zu411x7mc.json
  packages/splash/src/converter/netease.test.ts
  packages/splash/src/converter/netease.ts
  packages/splash/src/parser/index.test.ts
  packages/splash/src/parser/index.ts
  packages/splash/src/parser/spans.test.ts
  packages/splash/src/parser/spans.ts
  packages/splash/src/utils/time.test.ts
  packages/splash/src/utils/time.ts
Due: lint-and-format-codes, format-plain-text

perf(mobile): improve verbatim lyrics perf
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): player slider cannot slide
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerSlider.tsx
Due: lint-and-format-codes

fix(mobile): react compiler in PlayerLyrics
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
Due: lint-and-format-codes

chore(mobile): remove reanimated logger config
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
Due: lint-and-format-codes

chore(mobile): edit changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

fix(mobile): desktop lyrics not work
  apps/mobile/src/utils/player.ts
Due: lint-and-format-codes

fix(mobile): improve UI on small screen devices
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
Due: lint-and-format-codes, format-plain-text

perf(mobile): some perf improvements
  .agent/skills/gesture-handler-3-migration/SKILL.md
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/hooks/player/useSmoothProgress.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  .github/workflows/build.yml
  apps/mobile/.gitignore
  apps/mobile/app.config.ts
  apps/mobile/assets/config/google-services/google-services.json.mock
  apps/mobile/docs/CONTRIBUTING.md
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): firebase
  .github/workflows/build.yml
  apps/mobile/.gitignore
  apps/mobile/app.config.ts
  apps/mobile/assets/config/google-services/GoogleService-Info.plist
  apps/mobile/assets/config/google-services/google-services.json
  apps/mobile/docs/CONTRIBUTING.md
Due: lint-and-format-codes, format-plain-text

feat(mobile): add firebase analytics track
  README.md
  apps/mobile/CHANGELOG.md
  apps/mobile/docs/CONTRIBUTING.md
  apps/mobile/index.js
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/hooks/analytics/useFeatureTracking.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/config/sentry.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/facades/syncExternalPlaylist.ts
  apps/mobile/src/lib/services/analyticsService.ts
  apps/mobile/src/types/core/appStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/headless.ts
Due: lint-and-format-codes, format-plain-text

chore(mobile): update privacy
  PRIVACY.md
Due: format-plain-text

chore(mobile): use firebase analytics new api
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/lib/services/analyticsService.ts
Due: lint-and-format-codes

fix(mobile): type
  apps/mobile/app.config.ts
Due: lint-and-format-codes

chore(root, mobile): update package.json
  .syncpackrc
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(docs): update docs
  README.md
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/index.md
  apps/mobile/CHANGELOG.md
Due: format-plain-text

chore(docs): update docs
  README.md
  apps/docs/docs/SPL.md
  apps/docs/docs/guides/download.md
  apps/docs/docs/guides/external-playlist.md
  apps/docs/docs/guides/install.md
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/guides/playlist.md
  apps/docs/docs/guides/settings.md
  apps/mobile/CHANGELOG.md
Due: format-plain-text

chore(docs): update docs
  .github/wiki/Home.md
  .github/wiki/_Sidebar.md
  .github/workflows/wiki.yml
  README.md
  apps/docs/README.md
  apps/docs/docs/index.md
  apps/mobile/README.md
  packages/image-theme-colors/README.md
  packages/logs/README.md
  packages/orpheus/README.md
  packages/splash/README.md
Due: lint-and-format-codes, format-plain-text

chore(root): wiki
  .github/workflows/wiki.yml
  apps/mobile/docs/Home.md
  packages/orpheus/docs/Home.md
Due: lint-and-format-codes, format-plain-text

chore(root): wiki
  .github/wiki/Home.md
  .github/wiki/_Sidebar.md
  .github/workflows/wiki.yml
  packages/orpheus/docs/Home.md
Due: lint-and-format-codes, format-plain-text

chore(orpheus): wiki
  packages/orpheus/.npmignore
  packages/orpheus/CHANGELOG.md
  packages/orpheus/docs/API-Events.md
  packages/orpheus/docs/API-Methods.md
  packages/orpheus/docs/API-Types.md
  packages/orpheus/docs/Home.md
  packages/orpheus/docs/RELEASING.md
Due: format-plain-text

feat(mobile): implement bilibili danmaku api
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  apps/mobile/src/lib/api/bilibili/proto/dm.proto
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile): use `useWindowDimensions` instead of `Dimensions.get`
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
  packages/orpheus/example/src/components/SpectrumVisualizer.tsx
Due: lint-and-format-codes

feat(mobile): implement
  .oxfmtrc.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/settings/playback.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/player/DanmakuSettingsModal.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/player/components/danmaku/DanmakuView.tsx
  apps/mobile/src/features/player/hooks/danmaku/constants.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuRender.ts
  apps/mobile/src/hooks/analytics/useFeatureTracking.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/utils/danmaku.ts
  eslint.config.mjs
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  README.md
  apps/docs/docs/guides/player.md
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/_layout.tsx
  apps/mobile/src/app/(tabs)/settings/appearance.tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/(tabs)/settings/lyrics.tsx
  apps/mobile/src/app/(tabs)/settings/playback.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/player/components/danmaku/DanmakuView.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuRender.ts
  apps/mobile/src/lib/api/bilibili/api.ts
Due: lint-and-format-codes, format-plain-text

chore(mobile): bump version
  apps/mobile/package.json
Due: lint-and-format-codes

feat(mobile): danmaku (#205)
  .oxfmtrc.json
  README.md
  apps/docs/docs/guides/player.md
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/settings/_layout.tsx
  apps/mobile/src/app/(tabs)/settings/appearance.tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/(tabs)/settings/lyrics.tsx
  apps/mobile/src/app/(tabs)/settings/playback.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/player/DanmakuSettingsModal.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/player/components/danmaku/DanmakuView.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
  apps/mobile/src/features/player/hooks/danmaku/constants.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuRender.ts
  apps/mobile/src/hooks/analytics/useFeatureTracking.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  apps/mobile/src/lib/api/bilibili/proto/dm.proto
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/utils/danmaku.ts
  eslint.config.mjs
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/example/src/components/SpectrumVisualizer.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore(mobile): update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

ci(mobile): wrong secret key
  .github/workflows/build.yml
Due: lint-and-format-codes

fix(root): ci not work
  apps/mobile/.easignore
  apps/mobile/assets/config/google-services/google-services.json.mock
  apps/mobile/src/app/player.tsx
Due: lint-and-format-codes

chore(root): just make sure
  .easignore
Due: none

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
