Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

docs(docs): add docs for meizu statusbar lyrics
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/guides/playlist.md
  apps/docs/docs/guides/settings.md
  apps/mobile/CHANGELOG.md
Due: format-plain-text

chore(mobile): add some packages to ignore expo recommand version
  apps/mobile/mise.toml
  apps/mobile/package.json
  skills-lock.json
Due: lint-and-format-codes

chore(mobile): add some skills
  .agents/skills/expo-module/SKILL.md
  .agents/skills/expo-module/references/config-plugin.md
  .agents/skills/expo-module/references/create-expo-module.md
  .agents/skills/expo-module/references/lifecycle.md
  .agents/skills/expo-module/references/module-config.md
  .agents/skills/expo-module/references/native-module.md
  .agents/skills/expo-module/references/native-view.md
  .agents/skills/upgrading-expo/SKILL.md
  .agents/skills/upgrading-expo/references/expo-av-to-audio.md
  .agents/skills/upgrading-expo/references/expo-av-to-video.md
  .agents/skills/upgrading-expo/references/native-tabs.md
  .agents/skills/upgrading-expo/references/new-architecture.md
  .agents/skills/upgrading-expo/references/react-19.md
  .agents/skills/upgrading-expo/references/react-compiler.md
  .agents/skills/upgrading-expo/references/react-navigation-to-expo-router.md
Due: format-plain-text

feat(mobile): update expo to 56 beta
  apps/backend/package.json
  apps/backend/src/routes/auth.ts
  apps/mobile/package.json
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/modals/edit-metadata/editPlaylistMetadataModal.tsx
  apps/mobile/src/components/modals/edit-metadata/editTrackMetadataModal.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
  apps/update-publisher/package.json
  package.json
  packages/heatmap/package.json
  packages/image-theme-colors/package.json
  packages/logs/package.json
  packages/native/package.json
  packages/orpheus/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(root): add zed settings file
  .gitignore
  .zed/settings.json
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
Due: lint-and-format-codes

feat(root): upgrade to expo56
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/hooks/router/usePreventRemove.ts
  packages/image-theme-colors/android/build.gradle
  packages/orpheus/android/build.gradle
  patches/@bottom-tabs__react-navigation@1.2.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

chore(root): update deps
  apps/backend/src/routes/auth.ts
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  packages/heatmap/src/components/WeeklyHeatMap.tsx
  packages/orpheus/android/build.gradle
  packages/splash/src/parser/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

chore(orpheus): add jsdocs
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/headless.ts
  packages/orpheus/src/hooks/useCurrentTrack.ts
  packages/orpheus/src/hooks/useIsPlaying.ts
  packages/orpheus/src/hooks/useOrpheus.ts
  packages/orpheus/src/hooks/usePlaybackState.ts
  packages/orpheus/src/hooks/useProgress.ts
Due: lint-and-format-codes

feat(backend, mobile): shared playlist refactor
  apps/backend/.gitignore
  apps/backend/drizzle/0000_bouncy_shooting_star.sql
  apps/backend/drizzle/meta/0000_snapshot.json
  apps/backend/drizzle/meta/_journal.json
  apps/backend/package.json
  apps/backend/src/db/schema.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/backend/src/types.ts
  apps/backend/src/validators/auth.ts
  apps/docs/package.json
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/settings/account.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/SharedPlaylistMembersSheet.tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/hooks/queries/sharedPlaylistAllMembers.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/hooks/stores/useSharedPlaylistMembersStore.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/storage.ts
  package.json
  packages/heatmap/package.json
  patches/sonner-native@0.23.0.patch
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(mobile): bump version
  .github/workflows/build.yml
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: lint-and-format-codes, format-plain-text

feat(mobile): remove flyme os check
  apps/mobile/package.json
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/components/common/FunctionalMenu.tsx
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/MeizuStatusBarLyricsBackend.kt
Due: lint-and-format-codes

feat(mobile): update react-native-view-shot
  lefthook.yml
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(root): add expo ui skills
  .agents/skills/expo-ui-jetpack-compose/SKILL.md
  .agents/skills/expo-ui-swiftui/SKILL.md
  .codex/environments/environment.toml
  skills-lock.json
Due: lint-and-format-codes, format-plain-text

feat(mobile): use Expo UI
  apps/mobile/package.json
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/settings/account.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/app/settings/download.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/app/settings/playback.tsx
  apps/mobile/src/components/common/FunctionalMenu.tsx
  apps/mobile/src/components/common/NativeSegmentedButtons.tsx
  apps/mobile/src/components/common/UniversalCheckbox.tsx
  apps/mobile/src/components/common/UniversalCheckboxItem.tsx
  apps/mobile/src/components/common/UniversalSwitch.tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/components/modals/player/DanmakuSettingsModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/components/modals/settings/ExportDownloadsProgressModal.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/LyricActionSheet.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/RemoteTrackList.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

chore(mobile): expo plugin type-safe
  apps/mobile/app.config.ts
Due: lint-and-format-codes

feat(mobile): use expoui Icon
  apps/mobile/package.json
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/components/common/FunctionalMenu.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/RemoteTrackList.tsx
  apps/mobile/src/features/playlist/remote/hooks/usePlaylistMenu.ts
  apps/mobile/src/features/playlist/remote/search-result/hooks/useSearchInteractions.ts
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): use expoui jetpack compose progress indicator
  .agents/skills/expo-ui-jetpack-compose/SKILL.md
  .agents/skills/expo-ui-swiftui/SKILL.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/comments/[bvid].tsx
  apps/mobile/src/app/comments/reply.tsx
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/history/overall.tsx
  apps/mobile/src/app/modal.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/common/ActivityIndicator.tsx
  apps/mobile/src/components/common/Button.tsx
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/components/modals/login/steps/GeetestVerifyStep.tsx
  apps/mobile/src/components/modals/lyrics/ManualSearchLyrics.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/components/modals/playlist/BatchAddTracksToLocalPlaylist.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/components/modals/playlist/SyncLocalToBilibiliModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/player/components/sharing/LyricsShareCard.tsx
  apps/mobile/src/features/player/components/sharing/SongShareCard.tsx
Due: lint-and-format-codes, format-plain-text

feat(slider, mobile): implement wavy slider
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  lefthook.yml
Due: lint-and-format-codes

feat(mobile): replace TextField with ExpoUI
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/settings/account.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/common/LinearProgressIndicator.tsx
  apps/mobile/src/components/common/NativeSegmentedButtons.tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/edit-metadata/editPlaylistMetadataModal.tsx
  apps/mobile/src/components/modals/edit-metadata/editTrackMetadataModal.tsx
  apps/mobile/src/components/modals/login/CookieLoginModal.tsx
  apps/mobile/src/components/modals/login/steps/InputCodeStep.tsx
  apps/mobile/src/components/modals/login/steps/InputPhoneStep.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/components/modals/player/PlaybackSpeedModal.tsx
  apps/mobile/src/components/modals/player/SleepTimerModal.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/DuplicateLocalPlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/components/modals/playlist/FavoriteSyncProgressModal.tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/components/modals/playlist/SaveQueueToPlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/SubscribeToSharedPlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/SyncLocalToBilibiliModal.tsx
  apps/mobile/src/components/modals/settings/CoverDownloadProgressModal.tsx
  apps/mobile/src/components/modals/settings/ExportDownloadsProgressModal.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/features/playlist/remote/components/RemoteTrackList.tsx
  apps/mobile/src/hooks/useTextFieldState.ts
  lefthook.yml
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): upgrade react-native-tab-view
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/comments/reply.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/history/overall.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/common/ActivityIndicator.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
  apps/mobile/src/features/library/skeletons/LibraryTabSkeleton.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
Due: lint-and-format-codes

feat(mobile, slider): use reanimated to implement animation
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderModule.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderView.kt
  packages/expo-wavy-slider/src/ExpoWavySlider.types.ts
  packages/expo-wavy-slider/src/hooks/useWorkletProp.ts
  packages/expo-wavy-slider/src/index.ts
Due: lint-and-format-codes

feat(slider, mobile): implement wavy slider
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderModule.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/state/ObservableStateHandle.kt
  packages/expo-wavy-slider/src/index.ts
Due: lint-and-format-codes

feat(slider): enhance docs
  packages/expo-wavy-slider/README.md
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/state/ObservableStateHandle.kt
  packages/expo-wavy-slider/package.json
  packages/expo-wavy-slider/src/ExpoWavySlider.types.ts
  packages/expo-wavy-slider/src/index.ts
  packages/expo-wavy-slider/src/worklets.fx.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile, slider): wtf
  apps/mobile/package.json
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  package.json
  packages/expo-wavy-slider/README.md
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderView.kt
  packages/expo-wavy-slider/example/.gitignore
  packages/expo-wavy-slider/example/app.json
  packages/expo-wavy-slider/example/babel.config.js
  packages/expo-wavy-slider/example/index.ts
  packages/expo-wavy-slider/example/package.json
  packages/expo-wavy-slider/example/src/App.tsx
  packages/expo-wavy-slider/example/tsconfig.json
  packages/expo-wavy-slider/package.json
  packages/expo-wavy-slider/src/ExpoWavySlider.types.ts
  packages/expo-wavy-slider/src/ExpoWavySliderModule.ts
  packages/expo-wavy-slider/src/WavySlider.ts
  packages/expo-wavy-slider/src/hooks/useNativeNumberProp.ts
  packages/expo-wavy-slider/src/hooks/useNativeState.ts
  packages/expo-wavy-slider/src/hooks/useObservableStateAdapter.ts
  packages/expo-wavy-slider/src/index.ts
  packages/expo-wavy-slider/src/utils/serializeObservableState.ts
  packages/expo-wavy-slider/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

chore(slider): remove slider from monorepo
  apps/mobile/package.json
  packages/expo-wavy-slider/.gitignore
  packages/expo-wavy-slider/.npmignore
  packages/expo-wavy-slider/README.md
  packages/expo-wavy-slider/android/build.gradle
  packages/expo-wavy-slider/android/src/main/AndroidManifest.xml
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderModule.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/ExpoWavySliderView.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/state/ObservableState.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/state/ObservableStateHandle.kt
  packages/expo-wavy-slider/android/src/main/java/expo/modules/wavyslider/state/WorkletCallback.kt
  packages/expo-wavy-slider/example/.gitignore
  packages/expo-wavy-slider/example/app.json
  packages/expo-wavy-slider/example/babel.config.js
  packages/expo-wavy-slider/example/index.ts
  packages/expo-wavy-slider/example/package.json
  packages/expo-wavy-slider/example/src/App.tsx
  packages/expo-wavy-slider/example/tsconfig.json
  packages/expo-wavy-slider/expo-module.config.json
  packages/expo-wavy-slider/package.json
  packages/expo-wavy-slider/src/ExpoWavySlider.types.ts
  packages/expo-wavy-slider/src/ExpoWavySliderModule.ts
  packages/expo-wavy-slider/src/WavySlider.ts
  packages/expo-wavy-slider/src/hooks/useNativeNumberProp.ts
  packages/expo-wavy-slider/src/hooks/useNativeState.ts
  packages/expo-wavy-slider/src/hooks/useObservableStateAdapter.ts
  packages/expo-wavy-slider/src/hooks/useWorkletProp.ts
  packages/expo-wavy-slider/src/index.ts
  packages/expo-wavy-slider/src/utils/ensureWorklets.ts
  packages/expo-wavy-slider/src/utils/getStateId.ts
  packages/expo-wavy-slider/src/utils/serializeObservableState.ts
  packages/expo-wavy-slider/src/worklets.fx.ts
  packages/expo-wavy-slider/tsconfig.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): remove danmaku
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/app/settings/playback.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/player/components/danmaku/DanmakuView.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): search user
  .github/workflows/build.yml
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/common/ActivityIndicator.tsx
  apps/mobile/src/features/playlist/remote/search-result/components/SearchUserHeader.tsx
  apps/mobile/src/hooks/queries/bilibili/search.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/types/apis/bilibili.ts
Due: lint-and-format-codes, format-plain-text

chore: update to expo56 stable
  apps/mobile/app.config.ts
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

chore: sync pnpm-lock
  pnpm-lock.yaml
Due: lint-and-format-codes

fix: update expo-wavy-slider version
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile): update expo-wavy-slider version
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile, orpheus): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/update-publisher/src/index.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): allow shared playlist title sync conflicts
  apps/mobile/CHANGELOG.md
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): restore playlist searchbar
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
Due: lint-and-format-codes, format-plain-text

fix(mobile): constrain player title layout
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
Due: lint-and-format-codes, format-plain-text

fix(mobile): pass query abort signals to bilibili api
  apps/mobile/CHANGELOG.md
  apps/mobile/src/hooks/queries/bilibili/comments.ts
  apps/mobile/src/hooks/queries/bilibili/danmaku.ts
  apps/mobile/src/hooks/queries/bilibili/favorite.ts
  apps/mobile/src/hooks/queries/bilibili/search.ts
  apps/mobile/src/hooks/queries/bilibili/user.ts
  apps/mobile/src/hooks/queries/bilibili/video.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): split bilibili account settings
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/settings/bilibili-account.tsx
  apps/mobile/src/app/settings/general.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): add about and license pages
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/settings/about.tsx
  apps/mobile/src/app/settings/about/licenses.tsx
  apps/mobile/src/assets/openSourceLicenses.json
Due: lint-and-format-codes, format-plain-text

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
