Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

mobile/playlist/local: race condition
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/queries/db/playlist.ts
Due: lint-and-format-codes

mobile/lib/player: omit user-side player error
  apps/mobile/CHANGELOG.md
  apps/mobile/src/lib/player/PlayerSideEffects.ts
Due: lint-and-format-codes, format-plain-text

mobile/sentry: only allow sentry report event on official-built app
  apps/mobile/src/lib/config/sentry.ts
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/native/src/BBPlayerNativeModule.ts
Due: lint-and-format-codes

packages/native, packages/orpheus: remove android oreo branch
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/MeizuStatusBarLyricsBackend.kt
Due: none

mobile/lib/api/bilibili: filter 'ketang' type item in search results
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/types/apis/bilibili.ts
Due: lint-and-format-codes

mobile/playlist: render item checkbox conditionally
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
Due: lint-and-format-codes

Revert "packages/rn-bottom-tabs, packages/bottom-tabs-react-navigation: sync upstream codebase"
  packages/bottom-tabs-react-navigation/package.json
  packages/bottom-tabs-react-navigation/src/types.ts
  packages/bottom-tabs-react-navigation/src/views/NativeBottomTabView.tsx
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabView.kt
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabViewManager.kt
  packages/react-native-bottom-tabs/ios/BottomAccessoryProvider.swift
  packages/react-native-bottom-tabs/ios/RCTTabViewComponentView.mm
  packages/react-native-bottom-tabs/ios/TabAppearModifier.swift
  packages/react-native-bottom-tabs/ios/TabItem.swift
  packages/react-native-bottom-tabs/ios/TabItemEventModifier.swift
  packages/react-native-bottom-tabs/ios/TabView/LegacyTabView.swift
  packages/react-native-bottom-tabs/ios/TabView/NewTabView.swift
  packages/react-native-bottom-tabs/ios/TabViewImpl.swift
  packages/react-native-bottom-tabs/ios/TabViewProps.swift
  packages/react-native-bottom-tabs/ios/TabViewProvider.swift
  packages/react-native-bottom-tabs/package.json
  packages/react-native-bottom-tabs/src/TabView.tsx
  packages/react-native-bottom-tabs/src/TabViewNativeComponent.ts
  packages/react-native-bottom-tabs/src/index.tsx
  packages/react-native-bottom-tabs/src/types.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: fixed expo/config-plugins to 57.0.9
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/_layout.tsx
  packages/react-native-bottom-tabs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

packages/react-native-bottom-tabs: allow any @expo/config-plugin version regenerate pnpm-lock file
  packages/react-native-bottom-tabs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile/metro: fix library page is empty
  apps/mobile/metro.config.js
  pnpm-lock.yaml
Due: lint-and-format-codes

patches/expo-modules-core: fix sharedObject use-after-free crash
  apps/mobile/rnrepo.config.json
  patches/expo-modules-core.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile/playlist: series playlist
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/series/[id].tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/PlaylistSyncProgressModal.tsx
  apps/mobile/src/components/modals/playlist/SyncOptionsModal.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/queries/bilibili/favorite.ts
  apps/mobile/src/hooks/queries/bilibili/user.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/bilibili.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/analyticsService.ts
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/core/media.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/types/services/playlist.ts
  apps/mobile/src/utils/search.ts
Due: lint-and-format-codes, format-plain-text

refactor(mobile): split Bilibili playlist sync facade
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist/facade.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist/favorite.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist/favoritePersist.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist/favoritePlan.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist/index.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist/types.ts
Due: lint-and-format-codes

mobile/tab/library: markInteractive when entering library page
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/lib/performance.ts
Due: lint-and-format-codes

mobile/screen/storageManager: add storage manager page
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/storage.tsx
  apps/mobile/src/features/storage/StorageUsageChart.tsx
  apps/mobile/src/hooks/queries/native/storage.ts
  packages/native/android/src/main/java/expo/modules/bbplayernative/AppStorage.kt
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/native/src/BBPlayerNative.types.ts
  packages/native/src/BBPlayerNativeModule.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/DownloadCache.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile/settings: refactor settings page
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/performance.tsx
  apps/mobile/src/app/settings/account.tsx
  apps/mobile/src/app/settings/appearance/index.tsx
  apps/mobile/src/app/settings/appearance/theme-search.tsx
  apps/mobile/src/app/settings/backup.tsx
  apps/mobile/src/app/settings/bilibili-account/index.tsx
  apps/mobile/src/app/settings/download.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/app/settings/playback.tsx
  apps/mobile/src/app/settings/storage.tsx
  apps/mobile/src/components/common/SettingsSectionTitle.tsx
  apps/mobile/src/components/modals/settings/SkinDownloadProgressModal.tsx
  apps/mobile/src/features/theme/ThemeSection.tsx
Due: lint-and-format-codes

mobile/nowplayingbar: remove entering/exiting opacity animation
  apps/mobile/src/components/NowPlayingBar.tsx
Due: lint-and-format-codes

mobile/player/musicControls: remove ToolTip
  apps/mobile/src/features/player/components/controls/MusicControls.tsx
Due: lint-and-format-codes

mobile/player/podcastControls: remove ToolTip
  apps/mobile/src/features/player/components/controls/PodcastControls.tsx
Due: lint-and-format-codes

mobile/playrQueueModal: DnD supported
  apps/mobile/CHANGELOG.md
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/ShuffleManager.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusPlayerManager.swift
  packages/orpheus/ios/OrpheusQueueManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

mobile/settings: decrease bottom padding size
  apps/mobile/src/app/(tabs)/settings/index.tsx
Due: lint-and-format-codes

mobile: update deps
  apps/mobile/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile: fix
  apps/mobile/expo-plugins/withDynamicBootSplash.js
Due: lint-and-format-codes

mobile/starPromptModal: plz give me a star!!!
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/app/StarPromptModal.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes, format-plain-text

Reapply "packages/rn-bottom-tabs, packages/bottom-tabs-react-navigation: sync upstream codebase"
  packages/bottom-tabs-react-navigation/package.json
  packages/bottom-tabs-react-navigation/src/types.ts
  packages/bottom-tabs-react-navigation/src/views/NativeBottomTabView.tsx
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabView.kt
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabViewManager.kt
  packages/react-native-bottom-tabs/ios/BottomAccessoryProvider.swift
  packages/react-native-bottom-tabs/ios/RCTTabViewComponentView.mm
  packages/react-native-bottom-tabs/ios/TabAppearModifier.swift
  packages/react-native-bottom-tabs/ios/TabItem.swift
  packages/react-native-bottom-tabs/ios/TabItemEventModifier.swift
  packages/react-native-bottom-tabs/ios/TabView/LegacyTabView.swift
  packages/react-native-bottom-tabs/ios/TabView/NewTabView.swift
  packages/react-native-bottom-tabs/ios/TabViewImpl.swift
  packages/react-native-bottom-tabs/ios/TabViewProps.swift
  packages/react-native-bottom-tabs/ios/TabViewProvider.swift
  packages/react-native-bottom-tabs/package.json
  packages/react-native-bottom-tabs/src/TabView.tsx
  packages/react-native-bottom-tabs/src/TabViewNativeComponent.ts
  packages/react-native-bottom-tabs/src/index.tsx
  packages/react-native-bottom-tabs/src/types.ts
Due: lint-and-format-codes

mobile/player: auto select fluid background
  apps/mobile/src/app/settings/appearance/index.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
Due: lint-and-format-codes

mobile/performance: startProfiling in js entry
  apps/mobile/index.js
  apps/mobile/src/app/_layout.tsx
Due: lint-and-format-codes

mobile/expo-observer: respect to enableDataCollection option
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/hooks/analytics/useFeatureTracking.ts
Due: lint-and-format-codes

mobile/nowplayingbar: disable nowplayingbar in settings page
  apps/mobile/src/components/NowPlayingBar.tsx
Due: lint-and-format-codes

workflow/build: update release to sentry
  .github/workflows/build.yml
Due: lint-and-format-codes

mobile/nowplayingbar: hide nowplayingbar when modal opened
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/hooks/stores/nowPlayingBarStore.ts
Due: lint-and-format-codes

mobile/app-data: add app file explorer screen
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/app-data.tsx
  apps/mobile/src/app/settings/storage.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/hooks/queries/native/storage.ts
  apps/mobile/src/utils/format.ts
  packages/native/android/src/main/java/expo/modules/bbplayernative/AppStorage.kt
  packages/native/android/src/main/java/expo/modules/bbplayernative/BBPlayerNativeModule.kt
  packages/native/src/BBPlayerNative.types.ts
  packages/native/src/BBPlayerNativeModule.ts
Due: lint-and-format-codes

mobile/nowplayingbar: show after screen transition done
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/hooks/stores/nowPlayingBarStore.ts
Due: lint-and-format-codes

mobile/app-data: don't calculate folder's size
  apps/mobile/src/app/settings/app-data.tsx
  packages/native/android/src/main/java/expo/modules/bbplayernative/AppStorage.kt
  packages/native/src/BBPlayerNative.types.ts
Due: lint-and-format-codes

mobile/downloaded, orpheus: only return downloaded/downloading items
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/hooks/mutations/orpheus/index.ts
  apps/mobile/src/hooks/queries/orpheus/index.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/DownloadTaskRecord.kt
  packages/orpheus/docs/API-Methods.md
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusDownloadManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

mobile/nowplayingbar: show it on downloaded page
  apps/mobile/src/hooks/stores/nowPlayingBarStore.ts
Due: lint-and-format-codes

packages/orpheus: fix calling native function before MediaController initialized
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: format-plain-text

mobile: bump version
  apps/mobile/package.json
Due: lint-and-format-codes

workflow/build: remove upload to sentry
  .github/workflows/build.yml
Due: lint-and-format-codes

fix: restore Windows hooks and workspace type checks
  .gitattributes
  apps/backend/src/env.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/settings/account.tsx
  lefthook.yml
  scripts/git-hooks.sh
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
