Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

mobile/player/headlessTask: when app in background, lyrics never update bug
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusHeadlessTaskService.kt
Due: lint-and-format-codes, format-plain-text

1
  .github/workflows/update.yml
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/update-client/README.md
  apps/update-client/cmd/bbplayer-updates-client/main.go
  apps/update-client/go.mod
  apps/update-client/go.sum
  apps/update-server/.env.example
  apps/update-server/.gitignore
  apps/update-server/Dockerfile
  apps/update-server/README.md
  apps/update-server/cmd/bbplayer-updates/main.go
  apps/update-server/docker-compose.e2e.yml
  apps/update-server/docker-compose.yml
  apps/update-server/go.mod
  apps/update-server/go.sum
  apps/update-server/internal/config/config.go
  apps/update-server/internal/database/migrations/00001_initial.sql
  apps/update-server/internal/database/migrations/00002_provenance_and_aggregates.sql
  apps/update-server/internal/database/migrations/00003_patch_leases.sql
  apps/update-server/internal/database/migrations/embed.go
  apps/update-server/internal/database/queries/updates.sql
  apps/update-server/internal/database/sqlc/db.go
  apps/update-server/internal/database/sqlc/models.go
  apps/update-server/internal/database/sqlc/updates.sql.go
  apps/update-server/internal/objectstore/objectstore.go
  apps/update-server/internal/patchworker/worker.go
  apps/update-server/internal/server/admin.go
  apps/update-server/internal/server/e2e_test.go
  apps/update-server/internal/server/server.go
  apps/update-server/internal/store/store.go
  apps/update-server/sqlc.yaml
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

hot-update
  .github/workflows/update.yml
  apps/hot-update-cli/package.json
  apps/hot-update-cli/src/archiver.d.ts
  apps/hot-update-cli/src/index.ts
  apps/hot-update-cli/tsconfig.json
  apps/mobile/package.json
  apps/update-server/README.md
  apps/update-server/cmd/bbplayer-updates/main.go
  apps/update-server/internal/database/migrations/00004_fingerprints.sql
  apps/update-server/internal/server/admin.go
  apps/update-server/internal/server/e2e_test.go
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

hot-update
  apps/update-server/internal/database/migrations/00001_initial.sql
  apps/update-server/internal/database/migrations/00002_provenance_and_aggregates.sql
  apps/update-server/internal/database/migrations/00003_patch_leases.sql
  apps/update-server/internal/database/migrations/00004_fingerprints.sql
  apps/update-server/internal/database/queries/assets.sql
  apps/update-server/internal/database/queries/channels.sql
  apps/update-server/internal/database/queries/events.sql
  apps/update-server/internal/database/queries/metrics.sql
  apps/update-server/internal/database/queries/patches.sql
  apps/update-server/internal/database/queries/publish.sql
  apps/update-server/internal/database/queries/source_commits.sql
  apps/update-server/internal/database/queries/update_groups.sql
  apps/update-server/internal/database/queries/updates.sql
  apps/update-server/internal/database/sqlc/assets.sql.go
  apps/update-server/internal/database/sqlc/channels.sql.go
  apps/update-server/internal/database/sqlc/events.sql.go
  apps/update-server/internal/database/sqlc/metrics.sql.go
  apps/update-server/internal/database/sqlc/models.go
  apps/update-server/internal/database/sqlc/patches.sql.go
  apps/update-server/internal/database/sqlc/publish.sql.go
  apps/update-server/internal/database/sqlc/source_commits.sql.go
  apps/update-server/internal/database/sqlc/update_groups.sql.go
  apps/update-server/internal/database/sqlc/updates.sql.go
  apps/update-server/internal/patchworker/worker.go
  apps/update-server/internal/server/admin.go
  apps/update-server/internal/server/admin_channels.go
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/admin_publish.go
  apps/update-server/internal/server/admin_routes.go
  apps/update-server/internal/server/admin_source.go
  apps/update-server/internal/server/admin_updates.go
  apps/update-server/internal/server/asset.go
  apps/update-server/internal/server/e2e_test.go
  apps/update-server/internal/server/events.go
  apps/update-server/internal/server/manifest.go
  apps/update-server/internal/server/public_routes.go
  apps/update-server/internal/server/routes.go
  apps/update-server/internal/server/server.go
  apps/update-server/internal/store/store.go
Due: none

hot-update
  apps/update-server/cmd/bbplayer-updates/main.go
  apps/update-server/go.mod
  apps/update-server/go.sum
  apps/update-server/internal/config/config.go
  apps/update-server/internal/patchworker/worker.go
  apps/update-server/internal/server/admin_channels.go
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/admin_publish.go
  apps/update-server/internal/server/admin_source.go
  apps/update-server/internal/server/admin_updates.go
  apps/update-server/internal/server/asset.go
  apps/update-server/internal/server/events.go
  apps/update-server/internal/server/manifest.go
  apps/update-server/internal/server/server.go
  apps/update-server/internal/store/store.go
Due: none

hot-update
  apps/mobile/app.config.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/lib/services/updateTelemetry.ts
  apps/update-server/README.md
  apps/update-server/cmd/bbplayer-updates/main.go
  apps/update-server/go.mod
  apps/update-server/go.sum
  apps/update-server/internal/database/migrations/00004_observability.sql
  apps/update-server/internal/database/migrations/00005_client_insights.sql
  apps/update-server/internal/database/queries/assets.sql
  apps/update-server/internal/database/queries/events.sql
  apps/update-server/internal/database/queries/metrics.sql
  apps/update-server/internal/database/sqlc/assets.sql.go
  apps/update-server/internal/database/sqlc/events.sql.go
  apps/update-server/internal/database/sqlc/metrics.sql.go
  apps/update-server/internal/database/sqlc/models.go
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/admin_routes.go
  apps/update-server/internal/server/asset.go
  apps/update-server/internal/server/e2e_test.go
  apps/update-server/internal/server/events.go
  apps/update-server/internal/server/manifest.go
  apps/update-server/internal/server/routes.go
  apps/update-server/internal/server/server.go
  apps/update-server/internal/server/telemetry_types.go
Due: lint-and-format-codes, format-plain-text

hot-update
  apps/update-server/README.md
  apps/update-server/go.mod
  apps/update-server/go.sum
  apps/update-server/internal/server/admin_channels.go
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/admin_metrics.go
  apps/update-server/internal/server/admin_publish.go
  apps/update-server/internal/server/admin_routes.go
  apps/update-server/internal/server/admin_source.go
  apps/update-server/internal/server/admin_updates.go
  apps/update-server/internal/server/api_asset.go
  apps/update-server/internal/server/api_events.go
  apps/update-server/internal/server/api_manifest.go
  apps/update-server/internal/server/api_routes.go
  apps/update-server/internal/server/e2e_test.go
Due: format-plain-text

hot-update
  apps/mobile/app.config.ts
  apps/mobile/index.js
  apps/mobile/src/lib/services/updateTelemetry.ts
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/api_events.go
  apps/update-server/internal/server/api_manifest.go
  apps/update-server/internal/server/launch_insights.go
  apps/update-server/internal/server/telemetry_types.go
Due: lint-and-format-codes

update-server: add WebUI demo seed data
  apps/update-server/seed/seed.sql
Due: none

hot-update
  apps/update-server/internal/database/queries/dashboard.sql
  apps/update-server/internal/database/sqlc/dashboard.sql.go
  apps/update-server/internal/server/admin_dashboard.go
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/admin_metrics.go
  apps/update-server/internal/server/admin_publish.go
  apps/update-server/internal/server/admin_source.go
  apps/update-server/internal/server/admin_updates.go
  apps/update-server/internal/server/server.go
  apps/update-server/internal/server/utils.go
Due: none

hot-update
  .dockerignore
  apps/mobile/src/app/settings/general.tsx
  apps/update-client/README.md
  apps/update-client/cmd/bbplayer-updates-client/main.go
  apps/update-client/go.mod
  apps/update-client/go.sum
  apps/update-server/.dockerignore
  apps/update-server/.env.example
  apps/update-server/README.md
  apps/update-server/docker-compose.prod.yml
  apps/update-server/docker-compose.yml
  apps/update-server/internal/server/admin_routes.go
  apps/update-server/internal/server/admin_session.go
  apps/update-server/web/.env.example
  apps/update-server/web/Dockerfile
  apps/update-server/web/README.md
  apps/update-server/web/channels/detail.html
  apps/update-server/web/channels/index.html
  apps/update-server/web/index.html
  apps/update-server/web/nginx.conf
  apps/update-server/web/public/icon.png
  apps/update-server/web/runtimes/detail.html
  apps/update-server/web/runtimes/index.html
  apps/update-server/web/src/api.ts
  apps/update-server/web/src/components/app-shell.tsx
  apps/update-server/web/src/components/login-screen.tsx
  apps/update-server/web/src/lib/auth.ts
  apps/update-server/web/src/mount.tsx
  apps/update-server/web/updates/detail.html
  apps/update-server/web/updates/index.html
Due: lint-and-format-codes, format-plain-text

hot-update
  apps/update-server/.env.example
  apps/update-server/.gitignore
  apps/update-server/Dockerfile
  apps/update-server/PRODUCT.md
  apps/update-server/README.md
  apps/update-server/docker-compose.prod.yml
  apps/update-server/docker-compose.yml
  apps/update-server/web/README.md
Due: lint-and-format-codes, format-plain-text

hot-update
  apps/hot-update-cli/src/cli/arguments.ts
  apps/hot-update-cli/src/cli/command-runner.ts
  apps/hot-update-cli/src/cli/prompts.ts
  apps/hot-update-cli/src/commands/admin.ts
  apps/hot-update-cli/src/commands/publish.ts
  apps/hot-update-cli/src/index.ts
  apps/hot-update-cli/src/services/archive.ts
  apps/hot-update-cli/src/services/expo.ts
  apps/hot-update-cli/src/services/git.ts
  apps/hot-update-cli/src/services/project.ts
  apps/hot-update-cli/src/services/update-server.ts
  apps/hot-update-cli/src/types.ts
  apps/mobile/package.json
  apps/update-server/README.md
  apps/update-server/web/nginx.conf
Due: lint-and-format-codes, format-plain-text

hot-update
  .gitignore
  apps/hot-update-cli/src/cli/arguments.ts
  apps/hot-update-cli/src/cli/command-runner.ts
  apps/hot-update-cli/src/commands/publish.ts
  apps/hot-update-cli/src/services/expo.ts
  apps/hot-update-cli/src/services/update-server.ts
  apps/update-server/README.md
  apps/update-server/docker-compose.yml
Due: lint-and-format-codes, format-plain-text

hot-update
  apps/update-server/.env.example
  apps/update-server/README.md
  apps/update-server/cmd/bbplayer-updates/main.go
  apps/update-server/internal/config/config.go
  apps/update-server/internal/database/queries/patches.sql
  apps/update-server/internal/database/sqlc/patches.sql.go
  apps/update-server/internal/patchworker/worker.go
  apps/update-server/internal/server/admin_patches.go
  apps/update-server/internal/server/admin_publish.go
  apps/update-server/internal/server/admin_routes.go
  apps/update-server/internal/server/e2e_test.go
  apps/update-server/internal/server/routes.go
  apps/update-server/internal/server/server.go
  apps/update-server/internal/store/store.go
  apps/update-server/web/patches/index.html
  apps/update-server/web/src/api.ts
  apps/update-server/web/src/components/app-shell.tsx
  apps/update-server/web/src/entries/patches.tsx
  apps/update-server/web/src/pages/patches-page.tsx
  apps/update-server/web/vite.config.ts
Due: lint-and-format-codes, format-plain-text

hot-update
  apps/update-server/web/src/api.ts
  apps/update-server/web/src/components/ui/dialog.tsx
  apps/update-server/web/src/pages/runtime-detail-page.tsx
  apps/update-server/web/src/pages/update-detail-page.tsx
Due: lint-and-format-codes

hot-update
  apps/update-server/scripts/build-and-push-images.sh
Due: none

hot-update
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/hooks/queries/backup.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  oxlint.config.mts
Due: lint-and-format-codes

1
  AGENTS.md
  README.md
  apps/hot-update-cli/src/services/expo.ts
  apps/hot-update-cli/src/services/update-server.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/hooks/queries/backup.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/update-server/web/src/api.ts
  apps/update-server/web/src/pages/channel-detail-page.tsx
  apps/update-server/web/src/pages/patches-page.tsx
  apps/update-server/web/src/pages/runtime-detail-page.tsx
  eslint.config.mjs
  lefthook.yml
  oxlint-plugins/import-alias.mjs
  oxlint.config.mts
  package.json
  packages/bottom-tabs-react-navigation/package.json
  packages/heatmap/package.json
  packages/image-theme-colors/package.json
  packages/native/package.json
  packages/native/src/BootSplashVideoView.tsx
  packages/orpheus/package.json
  packages/react-native-bottom-tabs/package.json
  patches/metro-runtime@0.84.5.patch
  patches/metro@0.84.5.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

hot-update
  .syncpackrc
  packages/expo-wavy-slider/.oxfmtrc.json
  packages/expo-wavy-slider/.oxlintrc.json
  packages/expo-wavy-slider/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes

hot-update
  .github/workflows/build-test.yml
  .github/workflows/build.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update.yml
Due: lint-and-format-codes

update-server/web: hover to show full uuid
  apps/hot-update-cli/src/commands/fingerprint.ts
  apps/hot-update-cli/src/index.ts
  apps/update-server/README.md
  apps/update-server/web/package.json
  apps/update-server/web/src/components/fingerprint-metadata-dialog.tsx
  apps/update-server/web/src/components/identifier.tsx
  apps/update-server/web/src/components/ui/sonner.tsx
  apps/update-server/web/src/lib/utils.ts
  apps/update-server/web/src/mount.tsx
  apps/update-server/web/src/pages/channel-detail-page.tsx
  apps/update-server/web/src/pages/runtime-detail-page.tsx
  apps/update-server/web/src/pages/update-detail-page.tsx
  apps/update-server/web/src/pages/updates-page.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

workflows: add generate fingerprint workflow
  .github/workflows/fingerprint.yml
  apps/mobile/package.json
Due: lint-and-format-codes

root: remove packageManager field in package.json
  package.json
Due: lint-and-format-codes

workflow/fingerprint: update it
  .github/workflows/fingerprint.yml
Due: lint-and-format-codes

mobile: restore Expo Updates UI and context
  apps/mobile/index.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/about.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/lib/config/sentry.ts
  apps/mobile/src/lib/services/updateTelemetry.ts
Due: lint-and-format-codes

update
  .github/workflows/build-test.yml
  apps/update-server/README.md
  apps/update-server/cmd/bbplayer-updates/main.go
  apps/update-server/internal/database/migrations/00006_drop_daily_update_metrics.sql
  apps/update-server/internal/database/queries/dashboard.sql
  apps/update-server/internal/database/queries/events.sql
  apps/update-server/internal/database/queries/metrics.sql
  apps/update-server/internal/database/sqlc/dashboard.sql.go
  apps/update-server/internal/database/sqlc/events.sql.go
  apps/update-server/internal/database/sqlc/metrics.sql.go
  apps/update-server/internal/database/sqlc/models.go
  apps/update-server/internal/server/admin_dashboard.go
  apps/update-server/internal/server/admin_insights.go
  apps/update-server/internal/server/e2e_test.go
  apps/update-server/seed/seed.sql
  apps/update-server/web/package.json
  apps/update-server/web/src/api.ts
  apps/update-server/web/src/components/fingerprint-metadata-dialog.tsx
  apps/update-server/web/src/pages/channel-detail-page.tsx
  apps/update-server/web/src/pages/overview-page.tsx
  apps/update-server/web/src/pages/update-detail-page.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

workflows: pnpm 11
  .github/workflows/build-test.yml
  .github/workflows/build.yml
  .github/workflows/fingerprint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update.yml
  mise.toml
  package.json
Due: lint-and-format-codes

mobile: update runtimeVersion policy set to appVersion
  apps/hot-update-cli/src/commands/publish.ts
  apps/mobile/app.config.ts
  apps/update-server/README.md
Due: lint-and-format-codes, format-plain-text

mobile: fix build fail
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

update-server: /api/manifest 204 need expo-protocol-version=1
  apps/mobile/src/app/settings/donate.tsx
  apps/update-server/internal/server/admin_publish.go
  apps/update-server/internal/server/api_manifest.go
  apps/update-server/internal/server/e2e_test.go
Due: lint-and-format-codes

update-server: use republish instead of rollback; improve webui
  apps/hot-update-cli/src/commands/admin.ts
  apps/hot-update-cli/src/index.ts
  apps/update-server/internal/database/migrations/00007_ota_republish_provenance.sql
  apps/update-server/internal/database/queries/assets.sql
  apps/update-server/internal/database/queries/dashboard.sql
  apps/update-server/internal/database/queries/publish.sql
  apps/update-server/internal/database/queries/update_groups.sql
  apps/update-server/internal/database/sqlc/assets.sql.go
  apps/update-server/internal/database/sqlc/dashboard.sql.go
  apps/update-server/internal/database/sqlc/models.go
  apps/update-server/internal/database/sqlc/publish.sql.go
  apps/update-server/internal/database/sqlc/update_groups.sql.go
  apps/update-server/internal/server/admin_dashboard.go
  apps/update-server/internal/server/admin_routes.go
  apps/update-server/internal/server/admin_updates.go
  apps/update-server/internal/server/api_manifest.go
  apps/update-server/internal/server/e2e_test.go
  apps/update-server/web/src/api.ts
  apps/update-server/web/src/components/status-badge.tsx
  apps/update-server/web/src/pages/channel-detail-page.tsx
  apps/update-server/web/src/pages/update-detail-page.tsx
Due: lint-and-format-codes

harden: fix security issue in update-server.ts
  apps/hot-update-cli/src/services/update-server.ts
Due: lint-and-format-codes

mobile: bump version; check hot updates on focus
  .gitattributes
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
Due: lint-and-format-codes, format-plain-text

workflow/build: use npm to install eas
  .github/workflows/build.yml
Due: lint-and-format-codes

update-server: manifest api need return expo config(app.config.ts)
  apps/update-server/internal/database/queries/assets.sql
  apps/update-server/internal/database/sqlc/assets.sql.go
  apps/update-server/internal/server/api_manifest.go
  apps/update-server/internal/server/e2e_test.go
Due: none

root: remove unused npmrc
  .npmrc
Due: none

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
