Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

feat(root): implement
  .lyricon_version
  packages/orpheus/README.md
  packages/orpheus/android/src/main/aidl/io/github/proify/lyricon/provider/IRemotePlayer.aidl
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/lyric/model/extensions/TimingNavigator.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/CachedRemotePlayer.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/LyriconFactory.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/RemotePlayer.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/EmptyProvider.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/impl/RemotePlayerProxy.kt
  scripts/update-lyricon.sh
Due: format-plain-text

feat(root): add configuration for generated JavaScript files
  .gitattributes
Due: none

feat(backend): update Lyricon version handling and add update route
  .github/workflows/check-lyricon-updates.yml
  apps/backend/src/index.ts
  apps/backend/worker-configuration.d.ts
  apps/backend/wrangler.toml
  apps/mobile/app.config.ts
  packages/orpheus/.lyricon_version
  scripts/update-lyricon.sh
Due: lint-and-format-codes

feat(backend): update Lyricon version handling and add update route
  apps/backend/wrangler.toml
Due: lint-and-format-codes

chore(mobile): update version
  README.md
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  opencode.json
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  GEMINI.md
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/LyricActionSheet.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/types/player/lyrics.ts
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/res/drawable/outline_lyrics_off_24.xml
  packages/orpheus/android/src/main/res/values/strings.xml
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/ShuffleManager.kt
Due: format-plain-text

feat(mobile): 1
  .agent/skills/react-native-ease-refactor
  .agents/skills/react-native-ease-refactor/SKILL.md
  skills-lock.json
Due: lint-and-format-codes, format-plain-text

refactor(mobile): 1
  .gitignore
  apps/mobile/CHANGELOG.md
  apps/mobile/src/components/modals/login/PhoneLoginModal.tsx
  apps/mobile/src/components/modals/login/steps/GeetestVerifyStep.tsx
  apps/mobile/src/components/modals/login/steps/InputCodeStep.tsx
  apps/mobile/src/components/modals/login/steps/InputPhoneStep.tsx
  apps/mobile/src/components/modals/login/steps/SuccessStep.tsx
  apps/mobile/src/features/player/components/PlayerHeader.tsx
  apps/mobile/src/features/player/hooks/usePlayerHeaderAnimation.ts
  apps/mobile/src/hooks/auth/useGeetest.ts
  apps/mobile/src/hooks/auth/usePhoneLogin.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/api/netease/crypto.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
  apps/mobile/src/utils/lottie.ts
Due: lint-and-format-codes, format-plain-text

feat(heatmap): implement react-native-heatmap
  apps/mobile/CHANGELOG.md
  packages/react-native-heatmap/README.md
  packages/react-native-heatmap/package.json
  packages/react-native-heatmap/src/components/HeatMapCell.tsx
  packages/react-native-heatmap/src/components/MonthlyHeatMap.tsx
  packages/react-native-heatmap/src/components/WeeklyHeatMap.tsx
  packages/react-native-heatmap/src/constants/theme.ts
  packages/react-native-heatmap/src/index.ts
  packages/react-native-heatmap/src/types.ts
  packages/react-native-heatmap/src/utils/calendar.ts
  packages/react-native-heatmap/tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat(mobile): migrate playHistory data to independent table
  apps/mobile/drizzle/0018_green_dracula.sql
  apps/mobile/drizzle/meta/0018_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/types/storage.ts
  commitlint.config.js
Due: lint-and-format-codes

feat(orpheus): shuffle mode
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/ShuffleManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
Due: none

feat(mobile, heatmap): heatmap
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/hooks/queries/playHistoryHeatmap.ts
  packages/heatmap/README.md
  packages/heatmap/package.json
  packages/heatmap/src/components/HeatMapCell.tsx
  packages/heatmap/src/components/MonthlyHeatMap.tsx
  packages/heatmap/src/components/WeeklyHeatMap.tsx
  packages/heatmap/src/constants/theme.ts
  packages/heatmap/src/index.ts
  packages/heatmap/src/types.ts
  packages/heatmap/src/utils/calendar.ts
  packages/heatmap/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat(mobile, heatmap): heatmap
  apps/mobile/drizzle/0018_green_dracula.sql
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/history/overall.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/features/history/HistoryListItem.tsx
  apps/mobile/src/hooks/queries/db/track.ts
  apps/mobile/src/hooks/queries/playHistory.ts
  apps/mobile/src/hooks/queries/playHistoryHeatmap.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/utils/player.ts
  packages/heatmap/src/components/MonthlyHeatMap.tsx
  packages/heatmap/src/components/WeeklyHeatMap.tsx
  packages/heatmap/src/types.ts
Due: lint-and-format-codes

feat(mobile): optimize homepage UI with Quick Access section and Recently Played page
  .sisyphus/boulder.json
  .sisyphus/evidence/task-1-complete.txt
  .sisyphus/evidence/task-2-complete.txt
  .sisyphus/evidence/task-3-lint-output.txt
  .sisyphus/evidence/task-4-page-created.txt
  .sisyphus/evidence/task-5-play-all.txt
  .sisyphus/evidence/task-6-structure.txt
  .sisyphus/evidence/task-7-complete.txt
  .sisyphus/notepads/task-5-play-all/learnings.md
  .sisyphus/plans/homepage-ui-optimization.md
  AGENTS.md
  GEMINI.md
  apps/mobile/AGENTS.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/playlist/recently/index.tsx
  apps/mobile/src/hooks/queries/playHistory.ts
  apps/mobile/src/lib/services/trackService.ts
  packages/orpheus/AGENTS.md
Due: lint-and-format-codes, format-plain-text

feat(mobile, heatmap): heatmap
  .sisyphus/boulder.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/playlist/recently/index.tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/hooks/queries/playHistory.ts
  apps/mobile/src/hooks/queries/useRecentPlaylists.ts
  apps/mobile/src/lib/services/trackService.ts
Due: lint-and-format-codes

feat(mobile, heatmap): heatmap
  .syncpackrc
  apps/mobile/CHANGELOG.md
  package.json
  packages/heatmap/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore(orpheus): sync lyricon sourcecode
  packages/orpheus/.lyricon_version
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/lyric/model/Song.kt
Due: none

feat(mobile): alipay donate
  README.md
  apps/mobile/assets/images/alipay.jpg
  apps/mobile/src/app/settings/donate.tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes, format-plain-text

chore(mobile): bump version
  apps/mobile/package.json
Due: lint-and-format-codes

chore(root): update.json
  update.json
Due: lint-and-format-codes

fix(orpheus): compiler failed
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/ShuffleManager.kt
Due: none

chore(mobile): update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

fix(orpheus): replace O(n²) moveMediaItem shuffle with Media3 shuffleModeEnabled (#251)
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/ShuffleManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
Due: format-plain-text

chore(orpheus): update lyricon version
  packages/orpheus/.lyricon_version
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/provider/LyriconFactory.kt
Due: none

fix(mobile, orpheus): offline mode UX improve
  apps/mobile/index.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/types/global.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  patches/sonner-native@0.23.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

fix(mobile, orpheus): review
  apps/mobile/index.js
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  patches/sonner-native@0.23.0.patch
Due: lint-and-format-codes

fix(root): update pnpm lock file
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(mobile, orpheus): offline mode UX improve (#265)
  apps/mobile/index.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/types/global.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  patches/sonner-native@0.23.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

chore(orpheus): update lyricon
  .github/workflows/check-lyricon-updates.yml
  packages/orpheus/.lyricon_version
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/lyric/model/LyricMetadata.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/lyric/model/RichLyricLine.kt
  packages/orpheus/android/src/main/java/io/github/proify/lyricon/lyric/model/extensions/TimingNavigator.kt
Due: lint-and-format-codes

fix(orpheus, mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/recently/index.tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/headless.ts
Due: lint-and-format-codes, format-plain-text

fix(orpheus, mobile): 1
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/src/headless.ts
Due: lint-and-format-codes

fix(orpheus, mobile): 1 (#266)
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/recently/index.tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/headless.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/lib/services/externalPlaylistService.ts
Due: lint-and-format-codes

chore(root): 1
  .gitignore
  apps/mobile/CHANGELOG.md
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

Update apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/downloaded.tsx
Due: lint-and-format-codes

fix(mobile): 1 (#267)
  .gitignore
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/lib/services/externalPlaylistService.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
