Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: |
        if command -v gitleaks > /dev/null 2>&1; then
          gitleaks protect --staged --verbose $([ -f .gitleaks-baseline.json ] && echo "--baseline-path .gitleaks-baseline.json")
        else
          echo "⚠️ gitleaks is not installed, skipping secret scan. Install with: brew install gitleaks"
        fi
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: |
        if [ -z "{staged_files}" ]; then
          echo "No staged files to lint or format."
          exit 0
        fi

        pnpm oxfmt --write "{staged_files}" && pnpm oxlint --type-aware "{staged_files}" && pnpm eslint "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

mobile: remove expo-updates
  apps/mobile/app.config.ts
  apps/mobile/assets/bootsplash/logo.png
  apps/mobile/eas.json
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/about.tsx
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/lib/config/sentry.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: make react-compiler happy
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/account.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/hooks/player/useSmoothProgress.ts
  apps/mobile/src/hooks/queries/playHistory.ts
  apps/mobile/src/hooks/utils/usePreviousState.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
Due: lint-and-format-codes

mobile: remove unused deps
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/apis: use `react-native-nitro-fetch` to replace built-in fetch
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/kugou/api.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/api/qqmusic/api.ts
  apps/mobile/src/lib/services/updateService.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/danmaku: remove danmaku codes
  apps/docs/docs/guides/player.md
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/player/DanmakuSettingsModal.tsx
  apps/mobile/src/features/player/components/danmaku/DanmakuView.tsx
  apps/mobile/src/features/player/hooks/danmaku/constants.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuRender.ts
  apps/mobile/src/hooks/analytics/useFeatureTracking.ts
  apps/mobile/src/hooks/queries/bilibili/danmaku.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  apps/mobile/src/lib/api/bilibili/proto/dm.proto
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/utils/danmaku.ts
Due: lint-and-format-codes, format-plain-text

mobile/license: use `react-native-legal` dynamic generate licenses list
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/app/settings/about/licenses.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/performance-monitor: add some perf monitor
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/performance.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/lib/performance.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/performance-monitor: use expo-app-metrics for startup metrics
  apps/mobile/.gitignore
  apps/mobile/babel.config.js
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/scripts/measure-cold-start.sh
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/performance.tsx
  apps/mobile/src/lib/performance.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

fix(splash): support colon LRC timestamps (Closes #316)
  packages/splash/jest.config.js
  packages/splash/src/converter/netease.test.ts
  packages/splash/src/converter/netease.ts
  packages/splash/tsconfig.json
Due: lint-and-format-codes

fix(mobile): repair expanded favorite sync
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
Due: lint-and-format-codes

fix(orpheus): handle unavailable spectrum visualizer
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SpectrumManager.kt
Due: none

fix(mobile): separate spectrum from cover shape
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
Due: lint-and-format-codes

fix(orpheus): report spectrum initialization errors
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/features/player/components/SpectrumVisualizer.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SpectrumManager.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

refactor(mobile): centralize spectrum error listener
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/lib/player/PlayerSideEffects.ts
Due: lint-and-format-codes

mobile/player, orpheus/spectrumVisualizer: fix some race conditions
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/appearance.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/hooks/analytics/useFeatureTracking.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/performance.ts
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/types/core/appStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/GeneralStorage.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/hooks/index.ts
  packages/orpheus/src/hooks/useSpectrumVisualizerEnabled.ts
Due: lint-and-format-codes

fix(mobile): persist migration state in database
  apps/mobile/CHANGELOG.md
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/lib/backup/export.ts
  apps/mobile/src/lib/backup/import.ts
  apps/mobile/src/lib/backup/types.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): follow system theme in boot splash (Closes #311)
  apps/mobile/app.config.ts
  apps/mobile/expo-plugins/withDynamicBootSplash.js
  apps/mobile/src/components/AnimatedBootSplash.tsx
Due: lint-and-format-codes

fix(mobile): align Android boot splash colors
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/boot-splash-colors.json
  apps/mobile/expo-plugins/withDynamicBootSplash.js
  apps/mobile/src/components/AnimatedBootSplash.tsx
Due: lint-and-format-codes, format-plain-text

docs(mobile): update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

ci: add arm64 test build workflow
  .github/workflows/build-test.yml
  apps/mobile/package.json
Due: lint-and-format-codes

mobile/lib/db/migrations: make migrations independently
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/lib/backup/import.ts
  apps/mobile/src/lib/db/migrations/independentAccount.ts
  apps/mobile/src/lib/db/migrations/index.ts
  apps/mobile/src/lib/db/migrations/playHistory.ts
  apps/mobile/src/lib/db/migrations/playHistoryMilliseconds.ts
  apps/mobile/src/lib/db/migrations/sortKeysV2.ts
  apps/mobile/src/lib/db/migrations/sortKeysV3.ts
  apps/mobile/src/lib/db/migrations/state.ts
Due: lint-and-format-codes

feat(mobile): add on-device profiling controls
  apps/mobile/babel.config.js
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/performance.tsx
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/lib/performance.ts
  apps/mobile/src/types/storage.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/backup: allow backup to webdav Closes #303
  apps/mobile/CHANGELOG.md
  apps/mobile/jest.backup.config.cjs
  apps/mobile/jest.webdav.config.cjs
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/backup.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/lib/backup/webdav-client.test.ts
  apps/mobile/src/lib/backup/webdav-client.ts
  apps/mobile/src/lib/backup/webdav.test.ts
  apps/mobile/src/lib/backup/webdav.ts
  apps/mobile/src/types/storage.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile/license: remove rn-legal
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/settings/about.tsx
  apps/mobile/src/app/settings/about/licenses.tsx
  apps/mobile/src/assets/openSourceLicenses.json
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/player,orpheus: reverse player queue remaining items
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/lib/services/analyticsService.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusPlayerManager.swift
  packages/orpheus/ios/OrpheusQueueManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

mobile/lyrics: fix cannot edit lyrics after clear it. Closes #319
  apps/mobile/CHANGELOG.md
  apps/mobile/src/components/modals/AlertModal.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/hooks/queries/lyrics/index.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile/skin: add a scrim to appbar
  apps/mobile/src/components/navigation/SkinAppbarBackground.tsx
Due: lint-and-format-codes

mobile/playerQueue: change sheet implementation to `@swmansion/react-native-bottom-sheet`
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/hooks/stores/usePlayerQueueSheetStore.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile: remove `markInteractive` calling in _layout
  apps/mobile/src/app/_layout.tsx
Due: lint-and-format-codes

mobile: update deps
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/splashscreen: implement lightweight video player
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/components/AnimatedBootSplash.tsx
  packages/native/android/src/main/java/expo/modules/bbplayernative/BootSplashVideoViewModule.kt
  packages/native/expo-module.config.json
  packages/native/src/BootSplashVideoView.tsx
  packages/native/src/index.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: bump version
  apps/mobile/package.json
Due: lint-and-format-codes

mobile/bootsplash: fix BootSplashVideoView bug
  apps/mobile/src/app/settings/theme.tsx
  packages/native/android/src/main/java/expo/modules/bbplayernative/BootSplashVideoViewModule.kt
Due: lint-and-format-codes

mobile: update deps
  apps/mobile/package.json
  apps/mobile/src/components/providers.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: bump packages version
  packages/bottom-tabs-react-navigation/package.json
  packages/expo-wavy-slider/package.json
  packages/heatmap/package.json
  packages/image-theme-colors/package.json
  packages/logs/package.json
  packages/native/package.json
  packages/orpheus/package.json
  packages/react-native-bottom-tabs/package.json
  packages/splash/package.json
Due: lint-and-format-codes

mobile/backup/webdav: decouple fetch/mutate codes to react-query
  apps/mobile/src/app/settings/backup.tsx
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/hooks/mutations/backup.ts
  apps/mobile/src/hooks/queries/backup.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/skin/appbar: use bilibili skin api text color value as AppBar title color
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/components/navigation/SkinAppbarBackground.tsx
  apps/mobile/src/hooks/theme/useSkinForegroundColor.ts
Due: lint-and-format-codes, format-plain-text

mobile: remove babel plugin
  apps/mobile/babel.config.js
Due: lint-and-format-codes

mobile: 支持选择启动首屏
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
Due: lint-and-format-codes
