Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: >-
        command -v gitleaks > /dev/null 2>&1
        && gitleaks protect --staged --verbose --baseline-path .gitleaks-baseline.json
        || echo "⚠️ gitleaks is not installed, skipping secret scan. Install with: brew install gitleaks"
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

feat(mobile): 1
  apps/docs/docs/guides/shared-playlist.md
  apps/mobile/src/lib/facades/sharedPlaylist.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/lib/db/db.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/workers/PlaylistSyncWorker.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/db/index.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/test.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/package.json
  apps/backend/src/db/index.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/playlists.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/routes/playlists.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/backend/src/index.ts
  apps/backend/src/routes/playlists.ts
  apps/docs/docs/.vitepress/components/SharePlaylistPage.vue
  apps/docs/docs/share/playlist.md
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/docs/docs/.vitepress/components/SharePlaylistPage.vue
Due: none

feat(mobile): improve docs site
  apps/docs/docs/.vitepress/components/AppNotExistPage.vue
  apps/docs/docs/.vitepress/components/SharePlaylistPage.vue
  apps/docs/docs/.vitepress/components/ShareTrackPage.vue
  apps/docs/docs/.vitepress/components/shared-page.css
  apps/mobile/app.config.ts
  apps/mobile/src/app/+native-intent.ts
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/hooks/queries/db/playlist.ts
Due: lint-and-format-codes

feat(mobile): improve share playlist UIUX
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/settings/ExportDownloadsProgressModal.tsx
  apps/mobile/src/features/playlist/local/hooks/useTrackSelection.ts
  apps/mobile/src/hooks/queries/orpheus/index.ts
  apps/mobile/src/types/navigation.ts
  packages/orpheus/README.md
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DirectoryPickerContract.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/SplConverter.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/LyricsModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
Due: none

feat(mobile): 1
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/settings/ExportDownloadsProgressModal.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  apps/mobile/src/hooks/mutations/orpheus/index.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/hooks/queries/orpheus/index.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/types/player/lyrics.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DirectoryPickerContract.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/SplConverter.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

feat(mobile): 1
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
Due: none

feat(mobile): 1
  README.md
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guides/download.md
  apps/docs/docs/index.md
Due: format-plain-text

feat(mobile): 1
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/components/modals/settings/ExportDownloadsProgressModal.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DirectoryPickerContract.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/SplConverter.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

feat: export audio (#230)
  README.md
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guides/download.md
  apps/docs/docs/index.md
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/modals/settings/ExportDownloadsProgressModal.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  apps/mobile/src/features/playlist/local/hooks/useTrackSelection.ts
  apps/mobile/src/hooks/mutations/orpheus/index.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/hooks/queries/orpheus/index.ts
  apps/mobile/src/types/player/lyrics.ts
  packages/orpheus/README.md
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/LyricsModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DirectoryPickerContract.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ExportDownloadsHelper.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/SplConverter.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/guides/settings.md
  apps/mobile/CHANGELOG.md
Due: format-plain-text

feat(mobile): 1
  apps/mobile/index.js
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/docs/API-Methods.md
Due: lint-and-format-codes, format-plain-text

feat: status bar lyrics (#232)
  apps/docs/docs/guides/lyrics.md
  apps/docs/docs/guides/settings.md
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/docs/API-Methods.md
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

chore(docs): 1
  apps/docs/docs/guides/download.md
Due: format-plain-text

fix(mobile): r8
  apps/mobile/app.config.ts
Due: lint-and-format-codes

fix(mobile): sync playlist with wrong order
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/types/storage.ts
Due: lint-and-format-codes

chore(root): upgrade to expo55
  .syncpackrc
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/+native-intent.ts
  apps/mobile/src/components/providers.tsx
  package.json
  packages/image-theme-colors/package.json
  packages/logs/package.json
  packages/orpheus/package.json
  pnpm-lock.yaml
  rnrepo.config.json
Due: lint-and-format-codes

chore(root): upgrade to expo55
  apps/mobile/package.json
Due: lint-and-format-codes

chore(docs): updage docs
  apps/docs/docs/guides/shared-playlist.md
  apps/mobile/CHANGELOG.md
Due: format-plain-text

chore(docs): updage docs
  apps/docs/docs/guides/shared-playlist.md
Due: format-plain-text

chore(root): update.json
  update.json
Due: lint-and-format-codes

feat(mobile): 1
  apps/docs/content/docs/_meta.json
  apps/docs/content/docs/guides/_meta.json
  apps/docs/next-env.d.ts
  apps/docs/next.config.mjs
  apps/docs/postcss.config.mjs
  apps/docs/source.config.ts
  apps/docs/src/app/(home)/layout.tsx
  apps/docs/src/app/(home)/page.tsx
  apps/docs/src/app/api/search/route.ts
  apps/docs/src/app/docs/[[...slug]]/page.tsx
  apps/docs/src/app/docs/layout.tsx
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/llms-full.txt/route.ts
  apps/docs/src/app/llms.mdx/docs/[[...slug]]/route.ts
  apps/docs/src/app/llms.txt/route.ts
  apps/docs/src/app/og/docs/[...slug]/route.tsx
  apps/docs/src/components/ai/page-actions.tsx
  apps/docs/src/lib/cn.ts
  apps/docs/src/lib/layout.shared.tsx
  apps/docs/src/lib/source.ts
  apps/docs/src/mdx-components.tsx
Due: lint-and-format-codes

feat(mobile): phone number login with full-screen GeeTest verification (#237)
  README.md
  apps/mobile/package.json
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/login/PhoneLoginModal.tsx
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/navigation.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(root): implement
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SuperLyricBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
Due: none

feat(root): implement
  apps/docs/docs/guides/lyrics.md
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/StatusBarLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SuperLyricBackend.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

feat(root): implement
  apps/mobile/app.config.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/lyrics.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/hooks/player/useSmoothProgress.ts
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/LyriconBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SuperLyricBackend.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/LyricsModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/view/LyricView.kt
  packages/orpheus/android/src/main/res/drawable/outline_translate_24.xml
  packages/orpheus/android/src/main/res/values/strings.xml
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/splash/src/index.ts
  packages/splash/src/parser/merge.ts
  packages/splash/src/types.ts
Due: lint-and-format-codes

feat(root): implement
  .github/workflows/check-lyricon-updates.yml
Due: lint-and-format-codes

feat(root): implement
  .github/workflows/check-lyricon-updates.yml
  scripts/update-lyricon.sh
Due: lint-and-format-codes
