Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

fix(mobile): nowplaying bar
  apps/mobile/src/components/NowPlayingBar.tsx
Due: lint-and-format-codes

fix(mobile): now playing bar
  apps/mobile/src/components/NowPlayingBar.tsx
Due: lint-and-format-codes

fix(mobile): now playing bar
  apps/mobile/CHANGELOG.md
Due: format-plain-text

chore(root): remove files
  bilibili_skin_exp/garb-debug/latest/collection-bili-assets.json
  bilibili_skin_exp/garb-debug/latest/collection-path-report.json
  bilibili_skin_exp/garb-debug/latest/search-results.json
  bilibili_skin_exp/inspect-garb-assets.mjs
Due: lint-and-format-codes

all: remove unnecessary AGENTS.md
  AGENTS.md
  apps/mobile/AGENTS.md
  apps/mobile/docs/CONTRIBUTING.md
  apps/mobile/docs/RELEASE.md
  apps/mobile/docs/TECHNICAL_DEBT.md
  apps/mobile/package.json
  apps/mobile/scripts/encode-gif-from-frames.mjs
  apps/mobile/scripts/extract-svga-frames.mjs
  commitlint.config.js
  lefthook.yml
  opencode.json
  package.json
  packages/bottom-tabs-react-navigation/CHANGELOG.md
  packages/expo-wavy-slider/CHANGELOG.md
  packages/logs/CHANGELOG.md
  packages/orpheus/AGENTS.md
  packages/orpheus/CHANGELOG.md
  packages/react-native-bottom-tabs/CHANGELOG.md
Due: lint-and-format-codes, format-plain-text

expo-module-core(BBPLAYER-BM): add patch to fix race condition
  patches/expo-modules-core@56.0.17.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile/bootsplash: add max play duration
  apps/mobile/src/components/AnimatedBootSplash.tsx
Due: lint-and-format-codes

mobile/theme: fix "part_id not found issue"
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/app/settings/theme/search.tsx
  apps/mobile/src/components/modals/settings/SkinDownloadProgressModal.tsx
  apps/mobile/src/hooks/theme/useActiveSkin.ts
  apps/mobile/src/lib/api/bbplayer/client.ts
  apps/mobile/src/lib/errors/service.ts
  apps/mobile/src/services/theme/SkinManager.ts
  apps/mobile/src/services/theme/adapter.ts
  apps/mobile/src/services/theme/downloadManager.ts
  apps/mobile/src/services/theme/runtime.ts
  apps/mobile/src/services/theme/schema.ts
  apps/mobile/src/services/theme/transformer.ts
  apps/mobile/src/types/apis/bilibili.ts
Due: lint-and-format-codes, format-plain-text

mobile/player: ignore player network issue
  apps/mobile/CHANGELOG.md
  apps/mobile/src/lib/player/PlayerSideEffects.ts
Due: lint-and-format-codes, format-plain-text

mobile/lyrics: ignore parse error toast and memoize lyric parsing
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
Due: lint-and-format-codes, format-plain-text

mobile/orpheus: add allow simultaneous playback setting
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/settings/playback.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/types/core/appStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

react-native-bottom-tabs: fix android bottom tabs with ime raised
  apps/mobile/CHANGELOG.md
  packages/react-native-bottom-tabs/android/src/main/java/com/rcttabview/RCTTabView.kt
Due: format-plain-text

mobile/onboarding: redesign new user onboarding UIUX
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/onboarding.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes, format-plain-text

mobile/onboarding: fix button cannot click
  apps/mobile/src/app/onboarding.tsx
Due: lint-and-format-codes

mobile/bilibiliCoverUrl(BBPLAYER-BS): crop bilibili cover with cdn url to avoid too large image
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/common/CoverWithPlaceHolder.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/features/history/HistoryListItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/hooks/player/useLocalCover.ts
  apps/mobile/src/utils/imageUrl.ts
  tsconfig.json
Due: lint-and-format-codes

mobile: update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

patch/rn-newarch-svga-player: move google / mavenCentral source to high priority
  patches/rn-newarch-svga-player@1.1.16.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile: migrate to legendlist
  apps/mobile/package.json
  apps/mobile/src/app/comments/[bvid].tsx
  apps/mobile/src/app/comments/reply.tsx
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/history/overall.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/settings/about/licenses.tsx
  apps/mobile/src/app/settings/theme/search.tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/components/modals/lyrics/ManualSearchLyrics.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/playlist/BatchAddTracksToLocalPlaylist.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/components/modals/playlist/MergePlaylistsModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/features/library/collection/CollectionList.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderList.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosList.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/features/playlist/remote/components/RemoteTrackList.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  apps/mobile/src/hooks/ui/useDoubleTapScrollToTop.ts
  apps/mobile/src/types/legendlist.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

root: sync deps version
  packages/expo-wavy-slider/package.json
  packages/image-theme-colors/package.json
  packages/native/package.json
  packages/orpheus/package.json
Due: lint-and-format-codes

root: sync deps version
  pnpm-lock.yaml
Due: lint-and-format-codes

fix
  apps/mobile/src/app/settings/theme/search.tsx
  apps/mobile/src/lib/backup/export.ts
  apps/mobile/src/lib/backup/import.ts
Due: lint-and-format-codes

mobile/playlist/skeleton: reduce list skeleton item counts
  apps/mobile/src/features/playlist/skeletons/PlaylistSkeleton.tsx
Due: lint-and-format-codes

mobile: migrate to rngh v3
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/common/Button.tsx
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/features/history/HistoryListItem.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/collection/CollectionListItem.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/search-result/components/SearchUserHeader.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/nowplayingbar: redesign
  apps/mobile/src/components/NowPlayingBar.tsx
Due: lint-and-format-codes

mobile/changelog: update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

mobile/nowplayingbar: add haptics when swipe
  apps/mobile/src/components/NowPlayingBar.tsx
Due: lint-and-format-codes

mobile/playerQueueModal: expose display state
  apps/mobile/src/app/player.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/hooks/stores/usePlayerQueueSheetStore.ts
Due: lint-and-format-codes

mobile/nowPlayingBar: redesign
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/features/history/HistoryListItem.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/collection/CollectionListItem.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/search-result/components/SearchUserHeader.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusPlayerManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/hooks/index.ts
  packages/orpheus/src/hooks/useAdjacentTracks.ts
Due: lint-and-format-codes

mobile: migrate to rngh v3 (#294)
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/downloaded.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/common/Button.tsx
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/features/history/HistoryListItem.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/collection/CollectionListItem.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/search-result/components/SearchUserHeader.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  apps/mobile/src/hooks/stores/usePlayerQueueSheetStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusPlayerManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  packages/orpheus/src/hooks/index.ts
  packages/orpheus/src/hooks/useAdjacentTracks.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile/theme: move theme codes folder
  apps/mobile/src/app/settings/theme.tsx
  apps/mobile/src/components/modals/settings/SkinDownloadProgressModal.tsx
  apps/mobile/src/features/player/components/SkinThumbUpBurst.tsx
  apps/mobile/src/hooks/stores/useSkinStore.ts
  apps/mobile/src/hooks/theme/useActiveSkin.ts
  apps/mobile/src/lib/theme/SkinManager.ts
  apps/mobile/src/lib/theme/adapter.ts
  apps/mobile/src/lib/theme/downloadManager.ts
  apps/mobile/src/lib/theme/runtime.ts
  apps/mobile/src/lib/theme/schema.ts
  apps/mobile/src/lib/theme/transformer.ts
  apps/mobile/src/lib/theme/types.ts
Due: lint-and-format-codes

feat: add media notification with play/pause/prev/next controls
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/MediaNotificationReceiver.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
Due: none

chore: remove workflow files
  .github/workflows/build.yml
  .github/workflows/check-lyricon-updates.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update.yml
  .github/workflows/wiki.yml
Due: lint-and-format-codes

chore: restore workflow files
  .github/workflows/build.yml
  .github/workflows/check-lyricon-updates.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update.yml
  .github/workflows/wiki.yml
Due: lint-and-format-codes

mobile: upgrade
  apps/backend/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/babel.config.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/features/library/skeletons/LibraryTabSkeleton.tsx
  apps/mobile/src/features/playlist/skeletons/PlaylistSkeleton.tsx
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  package.json
  packages/bottom-tabs-react-navigation/package.json
  packages/expo-wavy-slider/package.json
  packages/expo-wavy-slider/src/worklets.fx.ts
  packages/image-theme-colors/package.json
  packages/logs/package.json
  packages/native/package.json
  packages/orpheus/package.json
  packages/react-native-bottom-tabs/package.json
  patches/expo-modules-core@56.0.17.patch
  patches/metro-runtime@0.84.4.patch
  patches/metro@0.84.4.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

mobile: upgrade
  apps/backend/package.json
  apps/mobile/package.json
  apps/mobile/src/hooks/stores/useAppStore.ts
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: upgrade
  apps/mobile/babel.config.js
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
