Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

chore(mobile): disable r8
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/lib/errors/index.ts
  apps/mobile/src/lib/services/lyricService.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): r8 made @nandrorjo/galeria raise error
  apps/mobile/app.config.ts
  patches/@nandorojo__galeria.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

feat(mobile): e2e
  apps/mobile/.maestro/flow.yaml
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/login/CookieLoginModal.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): man！！！
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/lyrics/ManualSearchLyrics.tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.ts
  apps/mobile/src/hooks/useExternalPlaylist.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/types/apis/netease.ts
  apps/mobile/src/types/apis/qqmusic.ts
  apps/mobile/src/types/external_playlist.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/utils/matching.ts
  apps/mobile/src/utils/time.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): man！！！
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/components/modals/playlist/FavoriteSyncProgressModal.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/hooks/useRemotePlaylist.ts
  apps/mobile/src/features/playlist/remote/search-result/hooks/useSearchInteractions.ts
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.ts
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/errors/facade.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/facades/syncExternalPlaylist.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/types/external_playlist.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/utils/toast.ts
Due: lint-and-format-codes

feat(mobile): man！！！
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/components/modals/playlist/InputExternalPlaylistInfo.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/lib/api/baidu/api.ts
  apps/mobile/src/lib/api/kugou/api.ts
  apps/mobile/src/lib/api/kuwo/api.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/lib/utils/playlistUrlParser.ts
Due: lint-and-format-codes

feat(mobile): man！！！
  apps/mobile/app.config.ts
  apps/mobile/src/components/modals/lyrics/ManualSearchLyrics.tsx
  apps/mobile/src/lib/api/kugou/api.ts
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/res/xml/network_security_config.xml
Due: lint-and-format-codes

feat(mobile): man！！！
  apps/mobile/CHANGELOG.md
  apps/mobile/src/components/modals/lyrics/ManualSearchLyrics.tsx
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/lib/api/kugou/api.ts
  apps/mobile/src/lib/api/netease/api.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/api/qqmusic/api.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/types/external_playlist.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): man！！！
  README.md
  apps/docs/docs/.vitepress/config.mts
  apps/docs/docs/guides/external-playlist.md
  apps/docs/docs/guides/lyrics.md
  apps/mobile/src/app/(tabs)/settings/playback.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/types/core/appStore.ts
  packages/external-playlist-sync/CHANGELOG.md
  packages/external-playlist-sync/index.ts
  packages/external-playlist-sync/matcher.ts
  packages/external-playlist-sync/meting.d.ts
  packages/external-playlist-sync/package.json
  packages/external-playlist-sync/src/types/bilibili.ts
  packages/external-playlist-sync/src/types/common.ts
  packages/external-playlist-sync/src/types/netease.ts
  packages/external-playlist-sync/tsconfig.json
  packages/meting/.gitignore
  packages/meting/ARCHITECTURE.md
  packages/meting/CHANGELOG.md
  packages/meting/CLAUDE.md
  packages/meting/LICENSE
  packages/meting/README.md
  packages/meting/package.json
  packages/meting/rollup.config.js
  packages/meting/src/meting.js
  packages/meting/src/providers/baidu.js
  packages/meting/src/providers/base.js
  packages/meting/src/providers/index.js
  packages/meting/src/providers/kugou.js
  packages/meting/src/providers/kuwo.js
  packages/meting/src/providers/netease.js
  packages/meting/src/providers/tencent.js
  packages/meting/test/example.js
  packages/meting/test/test.js
Due: lint-and-format-codes, format-plain-text

fix(mobile): bbplayer-5V
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/types/global.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): bbplayer-6G
  apps/mobile/CHANGELOG.md
  apps/mobile/src/hooks/stores/useAppStore.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): e2e
  apps/mobile/.maestro/comments_flow.yaml
  apps/mobile/.maestro/common/open_player.yaml
  apps/mobile/.maestro/common/setup.yaml
  apps/mobile/.maestro/flow.yaml
  apps/mobile/.maestro/playback_flow.yaml
  apps/mobile/.maestro/playlist_flow.yaml
  apps/mobile/.maestro/search_flow.yaml
  apps/mobile/.maestro/sync_flow.yaml
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
  apps/mobile/src/features/comments/components/CommentItem.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistList.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
Due: lint-and-format-codes

feat(mobile): e2e (#195)
  apps/mobile/.maestro/comments_flow.yaml
  apps/mobile/.maestro/common/open_player.yaml
  apps/mobile/.maestro/common/setup.yaml
  apps/mobile/.maestro/playback_flow.yaml
  apps/mobile/.maestro/playlist_flow.yaml
  apps/mobile/.maestro/search_flow.yaml
  apps/mobile/.maestro/sync_flow.yaml
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/login/CookieLoginModal.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
  apps/mobile/src/features/comments/components/CommentItem.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/app.config.ts
  apps/mobile/expo-plugins/withKotlinSerialization.js
  apps/mobile/package.json
  packages/orpheus/CHANGELOG.md
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/NetworkModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/LyricsModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/TrackRecord.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/TrackRecordExtension.kt
  packages/orpheus/package.json
  patches/@nandorojo__galeria.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1 (#196)
  apps/mobile/app.config.ts
  apps/mobile/expo-plugins/withKotlinSerialization.js
  apps/mobile/package.json
  packages/orpheus/CHANGELOG.md
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/NetworkModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/LyricsModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/TrackRecord.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/TrackRecordExtension.kt
  packages/orpheus/package.json
  patches/@nandorojo__galeria.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

fix(mobile): add more current state check
  apps/mobile/src/hooks/player/useAnimatedTrackProgress.ts
Due: lint-and-format-codes

feat(root): 1
  .agent/rules/measure-layout.md
  .agent/skills/react-native-best-practices
  .agent/skills/vercel-react-native-skills
Due: format-plain-text

fix: remove reanimated flag
  apps/mobile/package.json
  rnrepo.config.json
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  rnrepo.config.json
Due: lint-and-format-codes, format-plain-text

fix(mobile): ignore db migration when no schema change
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/modal.tsx
  apps/mobile/src/hooks/useFastMigrations.ts
  apps/mobile/src/types/storage.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  .github/skills/react-native-best-practices
  .github/skills/vercel-react-native-skills
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/hooks/app/useCheckUpdate.tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/hooks/queries/external-playlist/useExternalPlaylist.ts
  apps/mobile/src/hooks/ui/useDoubleTapScrollToTop.ts
  apps/mobile/src/types/global.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerHeader.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): some improvements (#198)
  .agent/rules/measure-layout.md
  .agent/skills/react-native-best-practices
  .agent/skills/vercel-react-native-skills
  .github/skills/react-native-best-practices
  .github/skills/vercel-react-native-skills
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/modal.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/search-result/fav/[query].tsx
  apps/mobile/src/app/playlist/remote/search-result/global/[query].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/features/player/components/PlayerHeader.tsx
  apps/mobile/src/hooks/app/useCheckUpdate.tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/hooks/queries/external-playlist/useExternalPlaylist.ts
  apps/mobile/src/hooks/ui/useDoubleTapScrollToTop.ts
  apps/mobile/src/types/global.ts
  apps/mobile/src/types/storage.ts
  rnrepo.config.json
Due: lint-and-format-codes, format-plain-text

feat(orpheus): enhance backend retention capabilities
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
Due: format-plain-text

fix(mobile): player page setpage
  apps/mobile/src/app/player.tsx
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/common/CoverWithPlaceHolder.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/features/leaderboard/LeaderBoardItem.tsx
  apps/mobile/src/features/library/collection/CollectionListItem.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/hooks/ui/useImageColor.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/hooks/ui/useImageColor.ts
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
  apps/mobile/src/utils/color.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerHeader.tsx
Due: lint-and-format-codes, format-plain-text

fix(orpheus): allow androidx.media3.player wrapping in REPEAT_MODE_ONE
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: none

feat(mobile): 1
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/features/leaderboard/LeaderBoardItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/lib/api/netease/api.ts
  apps/mobile/src/types/apis/netease.ts
Due: lint-and-format-codes

chore(mobile): update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

fix(orpheus): allow androidx.media3.player wrapping in REPEAT_MODE_ONE (#199)
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: format-plain-text

feat(mobile): improve playlist UI (#200)
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/common/CoverWithPlaceHolder.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/features/leaderboard/LeaderBoardItem.tsx
  apps/mobile/src/features/library/collection/CollectionListItem.tsx
  apps/mobile/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/mobile/src/features/library/local/LocalPlaylistItem.tsx
  apps/mobile/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/mobile/src/features/player/components/PlayerHeader.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
  apps/mobile/src/lib/api/netease/api.ts
  apps/mobile/src/types/apis/netease.ts
  apps/mobile/src/utils/color.ts
Due: lint-and-format-codes, format-plain-text

feat(splash): init
  apps/docs/docs/SPL.md
  commitlint.config.js
  packages/splash/jest.config.js
  packages/splash/package.json
  packages/splash/src/converter/netease.test.ts
  packages/splash/src/converter/netease.ts
  packages/splash/src/index.ts
  packages/splash/src/parser/index.test.ts
  packages/splash/src/parser/index.ts
  packages/splash/src/parser/spans.test.ts
  packages/splash/src/parser/spans.ts
  packages/splash/src/types.ts
  packages/splash/src/utils/time.test.ts
  packages/splash/src/utils/time.ts
  packages/splash/test-data/687506.json
  packages/splash/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes, format-plain-text

feat(mobile): migrate to new lyric type
  apps/mobile/package.json
  apps/mobile/src/lib/api/kugou/api.ts
  apps/mobile/src/lib/api/netease/api.ts
  apps/mobile/src/lib/api/qqmusic/api.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/types/apis/netease.ts
  apps/mobile/src/types/player/lyrics.ts
  apps/mobile/src/utils/lyrics.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/sharing/LyricsShareCard.tsx
  apps/mobile/src/features/player/hooks/useLyricSync.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/types/navigation.ts
  apps/mobile/src/types/player/lyrics.ts
  packages/splash/src/types.ts
Due: lint-and-format-codes
