Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

chore(root): remove unnecessary easignore
  .easignore
Due: none

chore(root): remove unnecessary easignore
  .easignore
  apps/mobile/.easignore
  apps/mobile/docs/RELEASE.md
Due: format-plain-text

chore(root): update update json
  update.json
Due: lint-and-format-codes

fix(mobile): auto compile protobuf when prepare
  apps/mobile/.gitignore
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
Due: lint-and-format-codes, format-plain-text

chore(root): update app screenshots
  assets/screenshots/player.jpg
  assets/screenshots/playlist.jpg
Due: none

fix(mobile): player controls button not work
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
Due: lint-and-format-codes

fix(mobile): player controls button not work (#208)
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
Due: lint-and-format-codes

fix: 解决无法点击问题
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
Due: lint-and-format-codes, format-plain-text

fix(orpheus, mobile): improve player error handling
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliRepository.kt
Due: lint-and-format-codes, format-plain-text

fix(mobile): remove player page animation
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/player.tsx
Due: lint-and-format-codes

chore(mobile): bump version
  apps/mobile/package.json
Due: lint-and-format-codes

fix(mobile): cover
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
Due: lint-and-format-codes

fix(mobile): remove player page animation (#212)
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
Due: lint-and-format-codes

chore(mobile): Bump version to 2.3.1 and update release URL
  update.json
Due: lint-and-format-codes

chore: release v2.3.1 (#213)
  apps/mobile/.gitignore
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  assets/screenshots/player.jpg
  assets/screenshots/playlist.jpg
  update.json
Due: lint-and-format-codes, format-plain-text

fix(mobile): background not full
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/player.tsx
Due: lint-and-format-codes, format-plain-text

feat(mobile): player tab view
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/player.tsx
  apps/mobile/src/hooks/ui/useScreenDimensions.ts
Due: lint-and-format-codes, format-plain-text

feat(orpheus): auto re-create player
  apps/mobile/CHANGELOG.md
  packages/orpheus/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
Due: format-plain-text

fix(mobile): make coderabbit happy
  apps/mobile/CHANGELOG.md
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/hooks/ui/usePlaylistBackgroundColor.ts
  packages/image-theme-colors/src/ExpoImageThemeColorsModule.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliRepository.kt
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(orpheus): 1
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
Due: none

feat(mobile): use expo-router Color API instead of `@pchmn/expo-material3-theme`
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/lib/theme/material3Colors.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore(root): add gitleaks
  .github/workflows/gitleaks.yml
  .gitleaks-baseline.json
  .gitleaks.toml
  apps/mobile/CHANGELOG.md
  lefthook.yml
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  .oxlintrc.json
  apps/docs/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  .oxlintrc.json
Due: lint-and-format-codes

feat(mobile): 1
  .oxlintrc.json
  apps/mobile/CHANGELOG.md
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/lib/services/syncLocalToBilibiliService.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 1
  .oxlintrc.json
  apps/mobile/src/hooks/queries/lyrics/index.ts
  packages/image-theme-colors/src/ImageRef.ts
  tsconfig.json
Due: lint-and-format-codes

feat(mobile): 1
  apps/docs/env.d.ts
  apps/mobile/app.config.ts
  apps/mobile/metro.config.js
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playlist/remote/toview.tsx
  apps/mobile/src/components/common/IconButton.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/components/providers.tsx
  apps/mobile/src/features/player/hooks/useLyricSync.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
  apps/mobile/src/lib/api/bilibili/wbi.ts
  apps/mobile/src/lib/api/netease/crypto.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/config/sentry.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/utils/log.ts
  apps/mobile/src/utils/neverthrow-utils.ts
  apps/mobile/src/utils/sticky-mitt.ts
  eslint.config.mjs
  lefthook.yml
  package.json
  packages/orpheus/example/src/components/Buttons.tsx
  packages/orpheus/src/ExpoOrpheusModule.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/src/components/common/CoverWithPlaceHolder.tsx
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  .oxlintrc.json
  .syncpackrc
  apps/docs/package.json
  apps/mobile/package.json
  package.json
  packages/image-theme-colors/package.json
  packages/orpheus/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(mobile): 1
  .github/workflows/build.yml
  .github/workflows/gitleaks.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-checks.yml
  .github/workflows/update.yml
  .oxlintrc.json
  apps/docs/tsconfig.json
  apps/mobile/src/components/common/CoverWithPlaceHolder.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/hooks/mutations/db/track.ts
  apps/mobile/src/lib/api/bilibili/wbi.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/utils/danmaku.ts
  apps/mobile/tsconfig.json
  lefthook.yml
  packages/image-theme-colors/example/tsconfig.json
  packages/image-theme-colors/tsconfig.json
  packages/logs/tsconfig.json
  packages/orpheus/example/tsconfig.json
  packages/orpheus/tsconfig.json
  packages/splash/src/parser/index.ts
  packages/splash/tsconfig.json
Due: lint-and-format-codes

feat(mobile): 1
  .gitleaks-baseline.json
  .gitleaks.toml
  .oxlintrc.json
  .syncpackrc
  apps/docs/tsconfig.json
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  eslint.config.mjs
  lefthook.yml
  package.json
  packages/image-theme-colors/example/tsconfig.json
  packages/image-theme-colors/tsconfig.json
  packages/logs/tsconfig.json
  packages/orpheus/example/tsconfig.json
  packages/orpheus/tsconfig.json
  packages/splash/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint-and-format-codes

feat(mobile): 1
  .vscode/settings.json
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/modals/lyrics/EditLyrics.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/hooks/mutations/db/track.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/netease/crypto.ts
  apps/mobile/src/lib/services/externalPlaylistService.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/types/global.ts
  apps/mobile/src/utils/log.ts
  packages/splash/src/parser/index.ts
Due: lint-and-format-codes

feat(mobile): 1
  apps/mobile/src/lib/api/bilibili/api.ts
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
