Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lint-and-format-codes:
  run: "if [ -z \"{staged_files}\" ]; then\n  echo \"No staged files to lint or format.\"\n  exit 0\nfi\n\npnpm oxfmt --write \"{staged_files}\" && pnpm oxlint --type-aware \"{staged_files}\" && pnpm eslint \"{staged_files}\"\n"
  stage_fixed: true

format-plain-text:
  run: pnpm oxfmt --write "{staged_files}"
  stage_fixed: true

root: fix tsconfig
  AGENTS.md
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  package.json
  packages/react-native-bottom-tabs/src/SceneMap.tsx
  packages/splash/tsconfig.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

expo-image-theme-colors: try to convert to bitmap
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  packages/image-theme-colors/android/src/main/java/expo/modules/imagethemecolors/ExpoImageThemeColorsModule.kt
Due: lint-and-format-codes

mobile: update changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

mobile: upgrade dependencies (#297)
  AGENTS.md
  apps/backend/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/babel.config.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/features/library/skeletons/LibraryTabSkeleton.tsx
  apps/mobile/src/features/playlist/skeletons/PlaylistSkeleton.tsx
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  package.json
  packages/bottom-tabs-react-navigation/package.json
  packages/expo-wavy-slider/package.json
  packages/expo-wavy-slider/src/worklets.fx.ts
  packages/image-theme-colors/android/src/main/java/expo/modules/imagethemecolors/ExpoImageThemeColorsModule.kt
  packages/image-theme-colors/package.json
  packages/logs/package.json
  packages/native/package.json
  packages/orpheus/package.json
  packages/react-native-bottom-tabs/package.json
  packages/react-native-bottom-tabs/src/SceneMap.tsx
  packages/splash/tsconfig.json
  patches/expo-modules-core@56.0.17.patch
  patches/metro-runtime@0.84.4.patch
  patches/metro@0.84.4.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes, format-plain-text

mobile/player: improve performance
  apps/mobile/package.json
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/player/hooks/useLyricSync.ts
  apps/mobile/src/utils/time.ts
  packages/expo-wavy-slider/src/worklets.fx.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: update changelog
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: lint-and-format-codes, format-plain-text

mobile/playerQueueModal,orpheus: improve playerQueueModal UX
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/hooks/stores/usePlayerQueueStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

mobile/player: remove danmaku path
  apps/mobile/src/app/player.tsx
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
Due: lint-and-format-codes

mobile/playerLyrics: lazy render karaoke word component
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
Due: lint-and-format-codes

mobile/playerLyrics: fix lyric highlighted color
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
Due: lint-and-format-codes

readme: fix star history image
  README.md
Due: format-plain-text

mobile/PlayerLyrics: fix bottom area can't scroll Closes #299
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
Due: lint-and-format-codes

mobile: bump version
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
Due: lint-and-format-codes, format-plain-text

mobile/theme: fix arktype initialize error
  apps/mobile/metro.config.js
  apps/mobile/package.json
  patches/@ark__schema.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-and-format-codes

mobile/playerLyrics: fix menu button can't press
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
Due: lint-and-format-codes

mobile/homePage: omit dynamic playlist in recently playlists section
  apps/mobile/src/hooks/queries/useRecentPlaylists.ts
Due: lint-and-format-codes

mobile/playHistory: fix ms/s mixed in database playhistory table
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/hooks/queries/playHistory.ts
  apps/mobile/src/types/storage.ts
  apps/mobile/src/utils/player.ts
Due: lint-and-format-codes

mobile/changelog: edit changelog
  apps/mobile/CHANGELOG.md
Due: format-plain-text

mobile/argent: update argent skill
  .agents/skills/argent-android-emulator-setup/SKILL.md
  .agents/skills/argent-create-flow/SKILL.md
  .agents/skills/argent-device-interact/SKILL.md
  .agents/skills/argent-metro-debugger/SKILL.md
  .agents/skills/argent-metro-debugger/references/failure-scenarios.md
  .agents/skills/argent-native-profiler/SKILL.md
  .agents/skills/argent-test-ui-flow/SKILL.md
  .agents/skills/argent-vega/SKILL.md
  .codex/config.toml
  .gemini/rules/argent.md
  skills-lock.json
Due: lint-and-format-codes, format-plain-text

mobile/argent: update argent skill
  .agents/skills/argent-screen-recording/SKILL.md
  .agents/skills/argent-settings-permissions/SKILL.md
  .agents/skills/argent-tv-interact/SKILL.md
  .claude/agents/argent-environment-inspector.md
  .claude/agents/references/quality-control-checklist.md
  .claude/rules/argent.md
  .claude/settings.json
  .claude/skills/argent-android-emulator-setup
  .claude/skills/argent-create-flow
  .claude/skills/argent-device-interact
  .claude/skills/argent-ios-simulator-setup
  .claude/skills/argent-lens
  .claude/skills/argent-metro-debugger
  .claude/skills/argent-native-profiler
  .claude/skills/argent-react-native-app-workflow
  .claude/skills/argent-react-native-optimization
  .claude/skills/argent-react-native-profiler
  .claude/skills/argent-screen-recording
  .claude/skills/argent-screenshot-diff
  .claude/skills/argent-settings-permissions
  .claude/skills/argent-test-ui-flow
  .claude/skills/argent-tv-interact
Due: lint-and-format-codes, format-plain-text

mobile/favoriteSync: allow expand multi page
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/settings/general.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/modals/playlist/FavoriteSyncProgressModal.tsx
  apps/mobile/src/components/modals/playlist/SyncOptionsModal.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/types/navigation.ts
Due: lint-and-format-codes

mobile/player: use `useWindowDimensions` to get reactive screen height
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/player.tsx
  apps/mobile/src/hooks/ui/useScreenDimensions.ts
Due: lint-and-format-codes, format-plain-text

mobile/deps: update deps
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/playlistItem: improve performance with `react-native-plain-text`
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/components/common/VariantPlainText.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/mobile/src/features/playlist/remote/toview/components/Item.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

mobile: update rnrepo version
  apps/mobile/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

root: sync deps
  apps/backend/package.json
  package.json
  packages/bottom-tabs-react-navigation/package.json
  packages/expo-wavy-slider/package.json
  packages/heatmap/package.json
  packages/image-theme-colors/package.json
  packages/logs/package.json
  packages/native/package.json
  packages/orpheus/package.json
  packages/react-native-bottom-tabs/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile/lyrics: redesign ui
  apps/mobile/src/features/player/components/LyricsControlOverlay.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/LyricsOffsetControl.tsx
Due: lint-and-format-codes

root,mobile: update deps
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

root: update README.md
  README.md
  assets/screenshots/download.jpg
  assets/screenshots/home.jpg
  assets/screenshots/library.jpg
  assets/screenshots/lyrics.jpg
  assets/screenshots/player.jpg
  assets/screenshots/playlist.jpg
Due: format-plain-text

mobile: integrate expo-observe navigation metrics
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/library/[tab].tsx
  apps/mobile/src/app/(tabs)/settings/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
Due: lint-and-format-codes

mobile: 1
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/history/[date].tsx
  apps/mobile/src/app/onboarding.tsx
  apps/mobile/src/app/playlist/remote/uploader/[mid].tsx
  apps/mobile/src/app/settings/about.tsx
  apps/mobile/src/app/settings/bilibili-account/index.tsx
  apps/mobile/src/app/settings/bilibili-account/qrcode-login.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/features/library/shared/TabDisabled.tsx
  apps/mobile/src/hooks/stores/useSkinStore.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/config/queryClient.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/utils/error-handling.ts
Due: lint-and-format-codes

mobile: 1
  .oxlintrc.json
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/app/settings/bilibili-account/qrcode-login.tsx
  apps/mobile/src/app/share/playlist.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/modals/playlist/DuplicateLocalPlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/SyncLocalToBilibiliModal.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/playlist/local/components/SyncFailuresSheet.tsx
  apps/mobile/src/hooks/queries/bilibili/search.ts
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/utils/error-handling.ts
  apps/mobile/src/utils/sticky-mitt.ts
  apps/update-publisher/src/index.ts
  packages/image-theme-colors/tsconfig.json
  packages/orpheus/src/hooks/useCurrentTrack.ts
  packages/orpheus/tsconfig.json
  packages/react-native-bottom-tabs/src/SceneMap.tsx
  packages/splash/tsconfig.json
Due: lint-and-format-codes

mobile: 1
  apps/backend/src/routes/playlists.ts
  apps/mobile/src/app/playlist/recently/index.tsx
  apps/mobile/src/app/playlist/remote/collection/[id].tsx
  apps/mobile/src/app/playlist/remote/favorite/[id].tsx
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/modals/playlist/ManualMatchExternalSync.tsx
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/hooks/queries/playHistory.ts
  apps/mobile/src/lib/api/netease/crypto.ts
  apps/mobile/src/lib/facades/bilibili.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
  apps/mobile/src/lib/facades/syncExternalPlaylist.ts
  apps/mobile/src/lib/player/PlayerSideEffects.ts
  apps/mobile/src/lib/services/artistService.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/lib/services/trackService.ts
  packages/react-native-bottom-tabs/src/TabView.tsx
Due: lint-and-format-codes

mobile: 1
  .oxlintrc.json
  apps/mobile/src/app/playlist/remote/multipage/[bvid].tsx
  apps/mobile/src/components/modals/app/UpdateAppModal.tsx
  apps/mobile/src/components/modals/bilibili/AddVideoToBilibiliFavModal.tsx
  apps/mobile/src/components/modals/edit-metadata/editPlaylistMetadataModal.tsx
  apps/mobile/src/components/modals/edit-metadata/editTrackMetadataModal.tsx
  apps/mobile/src/components/modals/login/CookieLoginModal.tsx
  apps/mobile/src/components/modals/playlist/BatchAddTracksToLocalPlaylist.tsx
  apps/mobile/src/components/modals/playlist/CreatePlaylistModal.tsx
  apps/mobile/src/components/modals/playlist/FavoriteSyncProgressModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/home/SearchSuggestions.tsx
  apps/mobile/src/features/player/components/PlayerSlider.tsx
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/lib/api/netease/crypto.ts
  apps/mobile/src/lib/facades/sharedPlaylist.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/utils/log.ts
  eslint.config.mjs
  packages/expo-wavy-slider/src/hooks/useObservableStateAdapter.ts
  packages/expo-wavy-slider/src/utils/getStateId.ts
  packages/expo-wavy-slider/src/worklets.fx.ts
  packages/react-native-bottom-tabs/src/TabView.tsx
Due: lint-and-format-codes

mobile: 1
  oxlint.config.mts
Due: none

mobile: 1
  packages/expo-wavy-slider/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes

mobile: 1
  apps/mobile/src/app/settings/account.tsx
  apps/mobile/src/components/modals/playlist/EnableSharingModal.tsx
Due: lint-and-format-codes

mobile/settings/account: fix type error
  apps/mobile/src/app/settings/account.tsx
Due: lint-and-format-codes

Path conditions:
  lint-and-format-codes: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}
  format-plain-text: any of: *.{md,mdx}
