Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

chore(docs): add some pages
  apps/docs/docs/guides/player.md
Due: format-plain-text

chore: update version and release notes in update.json
  update.json
Due: lint-and-format-codes

fix(app): player page ANR
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/src/features/player/hooks/useLyricSync.ts
  apps/bbplayer/src/hooks/player/useAnimatedTrackProgress.ts
Due: lint-and-format-codes, format-plain-text

feat(app, orpheus): spectrum visualizer
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/package.json
  apps/bbplayer/src/app/(tabs)/settings/appearance.tsx
  apps/bbplayer/src/features/player/components/PlayerTrackInfo.tsx
  apps/bbplayer/src/features/player/components/SpectrumVisualizer.tsx
  apps/bbplayer/src/hooks/stores/useAppStore.ts
  apps/bbplayer/src/types/core/appStore.ts
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/SpectrumManager.kt
  packages/orpheus/example/App.tsx
  packages/orpheus/example/src/components/SpectrumVisualizer.tsx
  packages/orpheus/ios/AudioSpectrumAnalyzer.swift
  packages/orpheus/ios/ExpoOrpheusModule.swift
  packages/orpheus/ios/OrpheusPlayerManager.swift
  packages/orpheus/src/ExpoOrpheusModule.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

feat(app): use squircle replace border radius
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/src/components/common/AnimatedModalOverlay.tsx
  apps/bbplayer/src/components/common/CoverWithPlaceHolder.tsx
  apps/bbplayer/src/components/modals/app/DonationQRModal.tsx
  apps/bbplayer/src/features/comments/components/CommentItem.tsx
  apps/bbplayer/src/features/downloads/DownloadTaskItem.tsx
  apps/bbplayer/src/features/leaderboard/LeaderBoardItem.tsx
  apps/bbplayer/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/bbplayer/src/features/player/components/PlayerTrackInfo.tsx
  apps/bbplayer/src/features/player/components/sharing/LyricsShareCard.tsx
  apps/bbplayer/src/features/player/components/sharing/SongShareCard.tsx
  apps/bbplayer/src/features/playlist/local/components/LocalPlaylistHeader.tsx
Due: lint-and-format-codes, format-plain-text

feat(app): use squircle replace border radius
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/src/features/downloads/DownloadTaskItem.tsx
  apps/bbplayer/src/features/leaderboard/LeaderBoardItem.tsx
  apps/bbplayer/src/features/library/collection/CollectionListItem.tsx
  apps/bbplayer/src/features/library/favorite/FavoriteFolderListItem.tsx
  apps/bbplayer/src/features/library/local/LocalPlaylistItem.tsx
  apps/bbplayer/src/features/library/multipage/MultiPageVideosItem.tsx
  apps/bbplayer/src/features/library/skeletons/LibraryTabSkeleton.tsx
  apps/bbplayer/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/bbplayer/src/features/playlist/remote/components/PlaylistHeader.tsx
  apps/bbplayer/src/features/playlist/remote/components/PlaylistItem.tsx
  apps/bbplayer/src/features/playlist/remote/toview/components/Item.tsx
  apps/bbplayer/src/features/playlist/skeletons/PlaylistSkeleton.tsx
  apps/bbplayer/src/theme/dimensions.ts
Due: lint-and-format-codes, format-plain-text

feat(app): use `@nandorojo/galeria` instead of `react-native-awesome-gallery`
  apps/bbplayer/CHANGELOG.md
  apps/bbplayer/package.json
  apps/bbplayer/src/features/comments/components/CommentItem.tsx
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(app): support dark mode in CommentItem
  apps/bbplayer/src/features/comments/components/CommentItem.tsx
Due: lint-and-format-codes

chore(root): mv apps/bbplayer to apps/mobile
  apps/mobile/CHANGELOG.md
Due: format-plain-text

fix(mobile): type
  apps/mobile/app.config.ts
Due: lint-and-format-codes

chore(root): hoist typescript deps to root
  apps/docs/package.json
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  package.json
  packages/expo-image-theme-colors/example/package.json
  packages/expo-image-theme-colors/package.json
  packages/orpheus/example/package.json
  packages/orpheus/package.json
  packages/react-native-logs/package.json
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

chore(root): specific typescript sdk root
  .vscode/settings.json
Due: lint-and-format-codes

chore(docs): remote pnpm lock file
  apps/docs/pnpm-lock.yaml
  apps/docs/pnpm-workspace.yaml
Due: lint-and-format-codes

fix(mobile): implement decibel-based scaling for spectrum visualizer bar heights
  apps/mobile/src/features/player/components/SpectrumVisualizer.tsx
  packages/orpheus/android/src/main/java/expo/modules/orpheus/SpectrumManager.kt
Due: lint-and-format-codes

fix(mobile): spectrum limit to 30fps
  apps/mobile/src/features/player/components/SpectrumVisualizer.tsx
Due: lint-and-format-codes

refactor(orpheus): improve folder structure
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliRepository.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/NetworkModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/exception/exceptions.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/DownloadCache.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SpectrumManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/LyricsModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/model/TrackRecord.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusDownloadService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusHeadlessTaskService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/ConvertPlayerError.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/CustomCommands.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GlideBitmapLoader.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/LoudnessStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/SleepTimeController.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/TrackRecordExtension.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/Volume.kt
Due: none

feat(mobile): enable R8
  apps/mobile/app.config.ts
Due: lint-and-format-codes

ci(root): move nightly.yml concurrency limit to job level
  .github/workflows/nightly.yml
Due: lint-and-format-codes

Revert "feat(mobile): enable R8"
  apps/mobile/app.config.ts
Due: lint-and-format-codes

fix(mobile): local build VERSION_CODE is 1
  apps/mobile/app.config.ts
  apps/mobile/mise.toml
Due: lint-and-format-codes

chore(mobile): move update.json to root folder
  apps/mobile/CHANGELOG.md
  update.json
Due: lint-and-format-codes, format-plain-text

chore(mobile): update update.json
  apps/mobile/CHANGELOG.md
  update.json
Due: lint-and-format-codes, format-plain-text

fix(mobile): fix version code getter logic
  apps/mobile/app.config.ts
Due: lint-and-format-codes

feat(mobile): use react-native-nitro-fetch as fetch library
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/api/qqmusic/api.ts
  apps/mobile/src/lib/services/updateService.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

feat(orpheus): cronet for media3
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/NetworkModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/network/CronetManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
Due: none

fix(mobile): remove trackService name unique check
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/lib/errors/service.ts
  apps/mobile/src/lib/services/trackService.ts
Due: lint-and-format-codes, format-plain-text

fix(orpheus): migrate from cronet to okhttp
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/network/CronetManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/network/OkHttpClientManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
Due: format-plain-text

fix(mobile): `reportErrorToSentry` report `[object Object]`
  apps/mobile/CHANGELOG.md
  apps/mobile/src/utils/log.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile, orpheus): enable R8
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliModels.kt
Due: lint-and-format-codes, format-plain-text

chore(mobile): remove unnecessary code in index.js
  apps/mobile/index.js
Due: lint-and-format-codes

Revert "feat(mobile): use react-native-nitro-fetch as fetch library"
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/api/qqmusic/api.ts
  apps/mobile/src/lib/services/updateService.ts
  pnpm-lock.yaml
Due: lint-and-format-codes

Merge pull request #193 from bbplayer-app/feat/nitro-fetch
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/lib/errors/service.ts
  apps/mobile/src/lib/services/trackService.ts
  apps/mobile/src/utils/log.ts
  packages/orpheus/android/build.gradle
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/BilibiliModels.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/NetworkModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/network/OkHttpClientManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
Due: lint-and-format-codes, format-plain-text

fix(orpheus, mobile): disable usesCleartextTraffic, only allow hdslb.com use http
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  packages/orpheus/android/src/main/AndroidManifest.xml
  packages/orpheus/android/src/main/res/xml/network_security_config.xml
Due: lint-and-format-codes, format-plain-text

fix(mobile): disable r8
  apps/mobile/app.config.ts
Due: lint-and-format-codes

fix(mobile): update proguard rules and enable R8
  apps/mobile/CHANGELOG.md
  apps/mobile/app.config.ts
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
Due: lint-and-format-codes, format-plain-text
