Repository bbplayer-app/BBPlayer: changes, and which lefthook commands are due for each by the changed paths.
All: lint-and-format-codes, format-plain-text

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: >-
        command -v gitleaks > /dev/null 2>&1
        && gitleaks protect --staged --verbose --baseline-path .gitleaks-baseline.json
        || echo "⚠️ gitleaks is not installed, skipping secret scan. Install with: brew install gitleaks"
    lint-and-format-codes:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,toml}'
      run: pnpm eslint "{staged_files}" && pnpm oxfmt --write "{staged_files}"
      stage_fixed: true
    format-plain-text:
      glob: '*.{md,mdx}'
      run: pnpm oxfmt --write "{staged_files}"
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "{1}"

fix(mobile): 1
  apps/mobile/tsconfig.json
  eslint.config.mjs
  packages/image-theme-colors/example/tsconfig.json
  packages/image-theme-colors/package.json
  packages/image-theme-colors/src/ImageRef.ts
  packages/image-theme-colors/tsconfig.json
  packages/logs/tsconfig.json
  packages/orpheus/example/tsconfig.json
  packages/orpheus/package.json
  packages/orpheus/tsconfig.json
  packages/splash/tsconfig.json
  tsconfig.json
Due: lint-and-format-codes

fix(mobile): 1
  .oxlintrc.json
  apps/mobile/docs/BEST_PRACTICES.md
  apps/mobile/docs/CONTRIBUTING.md
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/services/trackService.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/facades/playlist.ts
  apps/mobile/src/lib/facades/syncBilibiliPlaylist.ts
Due: lint-and-format-codes

fix(mobile): 1
  .vscode/settings.json
  apps/mobile/.gitignore
  apps/mobile/CHANGELOG.md
  apps/mobile/buf.gen.yaml
  apps/mobile/index.js
  apps/mobile/package.json
  apps/mobile/src/lib/api/bilibili/api.ts
  apps/mobile/src/lib/api/bilibili/client.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.d.ts
  apps/mobile/src/lib/api/bilibili/proto/dm.js
  apps/mobile/src/lib/api/bilibili/wbi.ts
  apps/mobile/src/lib/api/kugou/api.ts
  apps/mobile/src/lib/api/netease/api.ts
  apps/mobile/src/lib/api/netease/request.ts
  apps/mobile/src/lib/api/qqmusic/api.ts
  apps/mobile/src/lib/errors/thirdparty/kugou.ts
  apps/mobile/src/lib/errors/thirdparty/netease.ts
  apps/mobile/src/lib/errors/thirdparty/qqmusic.ts
  apps/mobile/src/types/apis/bilibili.ts
  apps/mobile/src/types/apis/kugou.ts
  apps/mobile/src/types/apis/netease.ts
  apps/mobile/src/types/apis/qqmusic.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

perf(mobile): improve
  .agent/skills/react-doctor
  .agents/skills/react-doctor/SKILL.md
  apps/mobile/.gitignore
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/app/modal.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SleepTimerModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
Due: lint-and-format-codes, format-plain-text

perf(mobile): improve
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SleepTimerModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
Due: lint-and-format-codes

perf(mobile): improve (#218)
  .agent/skills/react-doctor
  .agents/skills/react-doctor/SKILL.md
  apps/mobile/.gitignore
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/app/modal.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/playlist/external-sync.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/app/DonationQRModal.tsx
  apps/mobile/src/components/modals/app/WelcomeModal.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SleepTimerModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/components/modals/playlist/UpdateTrackLocalPlaylistsModal.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/KaraokeWord.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/hooks/stores/useExternalPlaylistSyncStore.tsx
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/lib/api/bilibili/api.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1 (#221)
  apps/mobile/CHANGELOG.md
  apps/mobile/src/features/player/components/PlayerMainTab.tsx
  apps/mobile/src/lib/api/bilibili/api.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/hooks/queries/bilibili/user.ts
  apps/mobile/src/hooks/stores/useAppStore.ts
  apps/mobile/src/lib/config/queryClient.ts
  apps/mobile/src/types/core/appStore.ts
  apps/mobile/src/utils/player.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/hooks/queries/bilibili/user.ts
  apps/mobile/src/lib/config/queryClient.ts
  apps/mobile/src/types/core/appStore.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/src/hooks/queries/bilibili/user.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/CHANGELOG.md
Due: format-plain-text

chore(orpheus, root): edit readme
  README.md
  packages/orpheus/README.md
Due: format-plain-text

chore(orpheus, root): edit readme
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/(tabs)/settings/general.tsx
  apps/mobile/src/app/player.tsx
  apps/mobile/src/app/test.tsx
  apps/mobile/src/components/ModalRegistry.tsx
  apps/mobile/src/components/NowPlayingBar.tsx
  apps/mobile/src/components/common/CoverWithPlaceHolder.tsx
  apps/mobile/src/components/modals/player/LyricsSelectionModal.tsx
  apps/mobile/src/components/modals/player/SongShareModal.tsx
  apps/mobile/src/components/modals/settings/CoverDownloadProgressModal.tsx
  apps/mobile/src/features/leaderboard/LeaderBoardItem.tsx
  apps/mobile/src/features/player/components/PlayerTrackInfo.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/hooks/player/useLocalCover.ts
  apps/mobile/src/types/navigation.ts
  packages/orpheus/README.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/CoverDownloadManager.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

fix(image-colors): rollback
  apps/mobile/CHANGELOG.md
  packages/image-theme-colors/android/src/main/java/expo/modules/imagethemecolors/ExpoImageThemeColorsModule.kt
Due: format-plain-text

fix(mobile): 1
  apps/mobile/src/features/downloads/DownloadTaskItem.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistMenu.ts
  apps/mobile/src/utils/player.ts
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/lib/config/queryClient.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/src/lib/config/queryClient.ts
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  packages/image-theme-colors/android/build.gradle
  packages/image-theme-colors/android/src/main/AndroidManifest.xml
  packages/image-theme-colors/android/src/main/java/expo/modules/imagethemecolors/ExpoImageThemeColorsModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/bilibili/NetworkModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/CoverDownloadManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/DownloadCache.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/SpectrumManager.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/DownloadUtil.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GlideBitmapLoader.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/TrackRecordExtension.kt
  packages/orpheus/android/src/main/res/drawable/baseline_download_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_close_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_lock_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_pause_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_play_arrow_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_repeat_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_repeat_off_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_repeat_one_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_skip_next_24.xml
  packages/orpheus/android/src/main/res/drawable/outline_skip_previous_24.xml
Due: lint-and-format-codes

feat(mobile): use scrollview instead of flashlist in lyrics page
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/hooks/useLyricSync.ts
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/package.json
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
Due: lint-and-format-codes

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/hooks/queries/db/track.ts
  apps/mobile/src/lib/config/queryClient.ts
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
Due: lint-and-format-codes

feat(mobile): refact lyrics (#223)
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/features/player/components/PlayerLyrics.tsx
  apps/mobile/src/features/player/components/lyrics/LyricLineItem.tsx
  apps/mobile/src/features/player/hooks/useLyricSync.ts
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/hooks/queries/db/track.ts
  apps/mobile/src/lib/config/queryClient.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/FloatingLyricsManager.kt
Due: lint-and-format-codes, format-plain-text

fix(mobile): 1
  apps/mobile/CHANGELOG.md
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/service/OrpheusMusicService.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/GeneralStorage.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/util/TrackRecordExtension.kt
Due: format-plain-text

feat(mobile): 无网状态体验
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/download.tsx
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/components/modals/PlayerQueueModal.tsx
  apps/mobile/src/components/modals/player/SleepTimerModal.tsx
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/features/player/components/PlayerFunctionalMenu.tsx
  apps/mobile/src/features/player/components/PlayerHeader.tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/features/playlist/local/hooks/useLocalPlaylistPlayer.ts
  apps/mobile/src/hooks/player/useBatchDownloadStatus.ts
  apps/mobile/src/hooks/queries/bilibili/danmaku.ts
  apps/mobile/src/hooks/queries/lyrics/index.ts
  apps/mobile/src/hooks/queries/orpheus/index.ts
  apps/mobile/src/lib/services/lyricService.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/utils/time.ts
  packages/orpheus/android/src/main/java/expo/modules/orpheus/ExpoOrpheusModule.kt
  packages/orpheus/android/src/main/java/expo/modules/orpheus/manager/CachedUriManager.kt
  packages/orpheus/src/ExpoOrpheusModule.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): 无网状态体验
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/player/hooks/danmaku/useDanmakuLoader.ts
Due: lint-and-format-codes

feat(mobile): lottie animation
  apps/mobile/CHANGELOG.md
  apps/mobile/package.json
  apps/mobile/src/assets/lottie/play-pause.json
  apps/mobile/src/assets/lottie/skip-next.json
  apps/mobile/src/assets/lottie/skip-prev.json
  apps/mobile/src/features/player/components/PlayerControls.tsx
  apps/mobile/src/utils/lottie.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text

fix(mobile): duration
  apps/mobile/src/features/playlist/local/components/LocalPlaylistHeader.tsx
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes

fix(mobile): duration
  apps/docs/docs/guides/playlist.md
Due: format-plain-text

feat(mobile): reorder item
  apps/mobile/CHANGELOG.md
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/playlist/local/components/LocalPlaylistItem.tsx
  apps/mobile/src/features/playlist/local/components/LocalTrackList.tsx
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/lib/services/playlistService.ts
Due: lint-and-format-codes, format-plain-text

feat(mobile): reorder item
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/features/playlist/local/hooks/useTrackSelection.ts
Due: lint-and-format-codes

feat(mobile): use frictional indexing instead of order
  apps/mobile/CHANGELOG.md
  apps/mobile/drizzle/0013_jittery_randall.sql
  apps/mobile/drizzle/meta/0013_snapshot.json
  apps/mobile/drizzle/meta/_journal.json
  apps/mobile/drizzle/migrations.js
  apps/mobile/package.json
  apps/mobile/src/app/playlist/local/[id].tsx
  apps/mobile/src/hooks/app/useFastMigrations.ts
  apps/mobile/src/hooks/mutations/db/playlist.ts
  apps/mobile/src/hooks/queries/db/playlist.ts
  apps/mobile/src/lib/db/schema.ts
  apps/mobile/src/lib/services/playlistService.ts
  apps/mobile/src/types/services/playlist.ts
  apps/mobile/src/types/storage.ts
  pnpm-lock.yaml
Due: lint-and-format-codes, format-plain-text
